/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  word-wrap: break-word;
  word-break: break-word;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font-family;
  font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
  }
}

%a-secondary {
  color: $secondary-text-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}

%a-tertiary {
  color: $tertiary-text-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid darken($code-background-color, 3%);
  border-radius: 3px;
  background-color: $code-background-color;
  word-wrap: normal;
  word-break: normal;
}

p code {
  // Clip long inline code blocks
  word-break: break-word;
}

code {
  padding: 1px 5px;
  font-family: $code-font-family;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}
.wrapper-post,
.wrapper-footer {
  max-width: -webkit-calc(#{$post-content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$post-content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$post-content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$post-content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}



/**
 * Tables
 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: $spacing-unit / 2;
}

td, th {
  border: 1px solid $grey-color-light;
  padding: 8px;
}

thead {
  background-color: lighten($grey-color-light, 10%);
}

tr:nth-child(even) {
  background-color: lighten($grey-color-light, 10%);
}



/**
 * Horizontal Rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $grey-color-light;
  margin: $spacing-unit 0;
  padding: 0;
}

/**
 * Copy Code Button
 */
.highlighter-rouge {
  position: relative;
}

.highlighter-rouge code.copied {
  animation: shot .3s ease-in-out;
}

@keyframes shot {
  from { opacity: .5; }
  to { opacity: 1; }
}

.highlighter-rouge .clipbutton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  opacity: 0;
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  background-color: lighten($brand-color, 5%);
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  transition: opacity .3s ease-in-out;
}

.highlighter-rouge .clipbutton:hover {
  background-color: darken($brand-color, 5%);
}

.highlighter-rouge .clipbutton:focus {
  outline: none;
}

.highlighter-rouge:hover .clipbutton {
  opacity: 1;
  cursor: pointer;
}
