/**
 * Site header
 */
.site-header {
	text-align: center;

  .site-title {
    line-height: 80px;
    margin-bottom: 0;

    img {
      margin-right: 5px;
      display: inline-block;
      vertical-align: middle; 
    }

    span {
      letter-spacing: -1px;
      font-size: 28px;
      display: inline-block;
      vertical-align: middle; 
    }

    &,
    &:visited {
      color: $brand-color;
    }
  }

  .site-description {
    padding: 15px 10px;
    margin: 0 auto;
    max-width: 380px;
    font-size: 13px;
    font-weight: 300;
    color: $secondary-text-color;
    border-width: 1px 0;
    border-style: solid;
    border-color: darken($background-color, 10%);
  }

  .site-announcement {
    margin-top: 25px;
    display: inline-block;
    border-radius: 4px;
    background-color: $announcement-color;
    color: white;
    padding: 8px 14px;

    i {
      margin-right: 4px;
    }
  }

}

/*
.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
*/



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}
//
//.footer-heading {
//  font-size: 18px;
//  margin-bottom: $spacing-unit / 2;
//}

.contact-list,
.link-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $tertiary-text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

  a.author-link {
    @extend %a-tertiary;
    font-weight: bold;
  }

  a.email-link,
  a.page-link {
    font-size: 13px;
    @extend %a-tertiary;
  }

  .site-title,
  .site-description {
    font-weight: bold;
  }

  .site-author {
    padding-top: 4px;
    font-size: 13px;
    a {
      @extend %a-tertiary;
    }
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	text-align: right;
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
		text-align: left;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 2 * $spacing-unit 0;

  @include media-query($on-palm) {
    padding: $spacing-unit - 5px 0;
  }

  .placeholder {
    font-family: $heading-font-family;
    font-size: 42px;
    text-align: center;
    padding: 200px 0 300px;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  border-bottom: 1px solid $grey-color-light;
}

.post-title {
  margin-bottom: 5px;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.3;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-info {
  a {
    font-size: 14px;
    font-weight: 300;
    @extend %a-tertiary;
  }

  span.separator {
    font-size: 10px;
    font-weight: 300;
    color: $tertiary-text-color;
  }
}

.post-context {
  margin-top: 20px;
  color: $tertiary-text-color;
  font-weight: 300;
  font-style: italic;
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-sponsor {
  margin-top: 2 * $spacing-unit;
  margin-bottom: $spacing-unit;
  text-align: center;

  hr {
    font-size: 28px;
    letter-spacing: .6em;
    display: block;
    border: 0;
    color: $tertiary-text-color;

    &:before {
      content: '...';
      display: inline-block;
      margin-left: .6em;
      color: rgba(0, 0, 0, .6);
      position: relative;
      top: -1.5 * $spacing-unit;
    }
  }
}

.post-closing {
  margin-bottom: $spacing-unit;
  text-align: center;

  p {
    font-style: italic;
    color: $secondary-text-color;
    a {
      font-weight: bold;
    }
  }
}

.post-footer {
  @extend %clearfix;
  margin-top: 54px;

  text-align: center;

  & > a {
    @extend %a-secondary;
    font-weight: bold;
    line-height: 54px;
    display: inline-block;

    @include media-query($on-palm) {
      font-size: 14px;
    }
  }

  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

.post .extras {
  @extend %extras-section;
}

/**
 * 404
 */
.not-found {
  padding: 100px 0 130px;
  font-size: 20px;
  text-align: center;
}
