/**
 * Site header
 */

%social-buttons {
  white-space: nowrap;
  .button {
    margin-right: 6px;
    background-color: $secondary-background-color;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    color: $secondary-text-color;

    i {
    }

    img {
      width: 12px;
      height: 12px;
      opacity: 0.55;
      vertical-align: -2px;
    }

    span {
      margin-left: 4px;
    }

    &:hover {
      background-color: darken($secondary-background-color, 5%);
    }

    &:last-child {
      margin-right: 0;
    }
  }
  @include media-query($on-laptop) {
    .button:not(:first-child) {
      span {
        display: none;
      }
    }
  }
}

%search {
  position: relative;
  font-size: 15px;
  display: inline-block;

  label {
    position: absolute;
    left: 13px;
    top: 8px;
    z-index: 10;
    opacity: 0.6;
    pointer-events: none;
  }

  input {
    padding: 4px 10px 4px 34px;
    border-radius: 8px;
    height: 42px;
    width: 236px;
    color: $secondary-text-color;
    background-color: $secondary-background-color;
    border: 1px solid transparent;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-size: 16px;
    line-height: 1.3333333;
    box-sizing: border-box;

    &:focus {
      border-color: #66afe9;
      outline: 0;
      color: $text-color;
      background-color: white;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }

  @include media-query($on-palm) {
    .algolia-autocomplete .ds-dropdown-menu {
      min-width: 300px;
    }
  }
}

%site-announcement {
  margin-top: 25px;
  display: inline-block;
  border-radius: 4px;
  background-color: $announcement-color;
  color: white;
  padding: 8px 14px;

  i {
    margin-right: 4px;
  }
}

.site-header {
  border-bottom: 1px solid darken($secondary-background-color, 30%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  & > .wrapper-header {
    margin: 0 auto;
    padding: $spacing-unit / 2 + 5px $spacing-unit / 2;

    @include media-query($on-palm) {
      padding-top: $spacing-unit / 2;
      padding-bottom: $spacing-unit / 2;
    }

    & > .content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .col1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }

      .col2 {
        margin-left: $spacing-unit / 2;
      }

      @include media-query($on-laptop) {
        .col1 {
          .social {
            margin-top: 5px;
          }
        }
      }

      @include media-query($on-palm) {
        display: block;
        text-align: center;

        .col1 {
          display: block;
          .site-title {
            margin: 0 auto 5px;
          }
          .social {
            margin: 5px 0 0;
          }
        }
        .col2 {
          margin-left: 0;
          margin-top: 5px;
          input {
            width: 290px;
          }
        }
      }
    }
  }

  .site-title {
    margin-right: 5px;
    display: block;
    position: relative;
    width: 180px;
    height: 48px;
    margin-bottom: 0;
    margin-right: $spacing-unit / 2;
    white-space: nowrap;

    @keyframes logo1Fade {
      0% {
        opacity: 1;
      }
      33% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes logo2Fade {
      0% {
        opacity: 0;
      }
      33% {
        opacity: 1;
      }
      66% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    @keyframes logo3Fade {
      0% {
        opacity: 0;
      }
      66% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes logo4Fade {
      0% {
        opacity: 0;
      }
      75% {
        opacity: 1;
      }
      100% {
        opacity: 1;
      }
    }

    img {
      top: 4px;
      left: 0;
      position: absolute;
      opacity: 0;

      &:nth-of-type(1) { opacity: 1; }
    }

    &:hover {
      img {
        &:nth-of-type(1) { opacity: 0; }
        &:nth-of-type(4) { opacity: 1; }

        animation-timing-function: linear;
        animation-iteration-count: 1;
        animation-duration: 1.3s;

        &:nth-of-type(2) { animation-name: logo1Fade; }
        &:nth-of-type(3) { animation-name: logo2Fade; }
        &:nth-of-type(4) { animation-name: logo3Fade; }
      }
    }
  }

  .social {
    @extend %social-buttons;

    .button {
      font-weight: 500;
    }
  }

  section.search {
    @extend %search;
  }

  .site-announcement {
    @extend %site-announcement;
  }

}

/*
.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
*/



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}
//
//.footer-heading {
//  font-size: 18px;
//  margin-bottom: $spacing-unit / 2;
//}

.contact-list,
.link-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $tertiary-text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;

  a.author-link {
    @extend %a-tertiary;
    font-weight: bold;
  }

  a.email-link,
  a.page-link {
    font-size: 14px;
    @extend %a-tertiary;
  }

  .site-title,
  .site-description {
    font-weight: bold;
  }

  .site-author {
    padding-top: 4px;
    font-size: 14px;
    a {
      @extend %a-tertiary;
    }
  }
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(60% - (#{$spacing-unit} / 2));
  width:         calc(60% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
	text-align: right;
  width: -webkit-calc(40% - (#{$spacing-unit} / 2));
  width:         calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
		text-align: left;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: 1.5 * $spacing-unit 0 $spacing-unit;

  @include media-query($on-palm) {
    padding: $spacing-unit - 5px 0;
  }

  .placeholder {
    font-family: $heading-font-family;
    font-size: 42px;
    text-align: center;
    padding: 200px 0 300px;
  }

  &.lander {
    padding: 0;
  }
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */

.page-content .post-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  @include media-query($on-laptop) {
    flex-direction: column;
    align-items: stretch;
  }
}

.page-content .post-container article.post {
  flex: 1;
  min-width: 0;
}

.page-content .post-container > .sidebar {
  margin-left: $spacing-unit;
  padding-top: $spacing-unit / 2;
  flex: 0 0 220px;
  font-size: 14px;

  p.section {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    font-family: $heading-font-family;
    font-weight: 700;
    a {
      color: $text-color;
    }

    &:first-child {
      margin-top: 0;
      font-size: 18px;
      font-family: $base-font-family;
    }
  }

  p.step {
    margin-bottom: 10px;
  }

  ul {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0;
    list-style: none;

    li {
      margin-top: 3px;
      padding-left: 10px;
      text-indent: -11px;

      &::before {
        content: "•";
        margin-right: 5px;
        color: $grey-color-light;
      }

      a.active {
        font-weight: bold;
      }
    }

    &.steps {
      display: none;
    }

    &.steps.open {
      display: block;
    }
  }

  @include media-query($on-laptop) {
    margin-left: 0;
    border-top: 2px solid $grey-color-light;
    padding-top: $spacing-unit;
    order: 99;
  }
}
.post-header {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit / 2;
  border-bottom: 1px solid $grey-color-light;
}

.post-title {
  margin-bottom: 5px;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1.3;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-info {

  a {
    font-size: 14px;
    @extend %a-tertiary;
  }

  span.copy {
    font-size: 14px;
    color: $tertiary-text-color;
  }

  a.lang {
    font-weight: bold;
    font-size: 16px;
    padding-left: 4px;
  }

  span.separator {
    font-size: 10px;
    font-weight: 300;
    vertical-align: 1px;
    color: $tertiary-text-color;
  }
}

.post-author,
.post-context {
  margin-top: 20px;
  color: $tertiary-text-color;
  font-weight: 300;
  font-style: italic;
}

.post-content {
  margin-bottom: $spacing-unit;
  word-wrap: break-word;
  word-break: break-word;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}

.post-sponsor {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  text-align: center;

  @include media-query($on-laptop) {
    margin-bottom: $spacing-unit / 2;
  }

  .banners {
    a {
      margin-top: 10px;
      display: inline-block;
    }
    a+a {
      margin-left: 5px;
    }
    img {
      border-radius: 4px;
    }
  }

  p {
    margin-bottom: 0;
    color: $tertiary-text-color;
    font-size: 14px;
    &:last-child {
      padding-top: 5px;
    }
  }
}

.post-closing {
  margin-top: $spacing-unit / 2;
  text-align: center;

  p {
    font-style: italic;
    color: $secondary-text-color;
    a {
      font-weight: bold;
    }
  }
}

.post-checkpoint {
  margin-top: 2 * $spacing-unit;
  border-top: 2px solid darken($background-color, 10%);
  padding-top: $spacing-unit + 3px;
  position: relative;

  .header {
    position: absolute;
    top: -15px;
    padding: 1px 9px;
    border-radius: 4px;
    background-color: darken($background-color, 20%);
    color: white;

    i.fa {
      font-size: 15px;
      vertical-align: 1px;
    }
    span {
      margin-left: 4px;
      vertical-align: 3px;
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  p {
    margin-bottom: 8px;
  }

  a {
    font-family: $code-font-family;
    font-size: 18px;
  }
}

.post-footer {
  @extend %clearfix;
  margin-top: 3 * $spacing-unit;
  margin-bottom: $spacing-unit / 2;

  text-align: center;

  @include media-query($on-palm) {
    margin-top: 2 * $spacing-unit;
  }

  hr {
    margin-bottom: 1.5 * $spacing-unit;
    font-size: 28px;
    letter-spacing: .6em;
    display: block;
    border: 0;
    color: $tertiary-text-color;

    @include media-query($on-palm) {
      margin-top: $spacing-unit;
    }

    &:before {
      content: '...';
      display: inline-block;
      margin-left: .6em;
      color: rgba(0, 0, 0, .6);
      position: relative;
      top: -1.5 * $spacing-unit;
    }
  }

  & > a {
    @extend %a-secondary;
    font-weight: bold;
    line-height: 54px;
    display: inline-block;
    font-size: 18px;

    @include media-query($on-palm) {
      font-size: 14px;
    }
  }

  .previous {
    float: left;
  }
  .next {
    float: right;
  }
}

.post-links {
  margin-bottom: $spacing-unit;
  background-color: $secondary-background-color;
  border-radius: 5px;
  padding: $spacing-unit - 5px;

  p {
    margin-bottom: 5px;
    color: $secondary-text-color;

    &.comments {
      margin-top: $spacing-unit - 10px;
    }
  }

  a {
    font-size: 20px;

    @include media-query($on-palm) {
      font-size: 16px;
    }

    i.fa {
      vertical-align: -2px;
      margin-right: 4px;
      font-size: 24px;

      @include media-query($on-palm) {
        font-size: 18px;
      }
    }
  }
}

.post .extras {
  margin-bottom: $spacing-unit;
  @extend %extras-section;
}

/**
 * 404
 */
.not-found {
  padding: 100px 0 130px;
  font-size: 20px;
  text-align: center;
}
