<section class="examples-list">

  <div class="icon">
    <i class="fa fa-link" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.api id="api" %}

  <div class="icon">
    <i class="fa fa-database" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.database id="database" %}

  <div class="icon">
    <i class="fa fa-key" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.auth id="auth" %}

  <div class="icon">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.async id="async" %}

</section>
