<section class="examples-list">

  <div class="icon">
    <i class="fa fa-link" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.api id="api" %}

  <div class="icon">
    <img class="graphql" src="/assets/lander/graphql-logo.svg" />
  </div>
  {% include toc-examples.html items=site.data.examplelist.graphql id="graphql" %}

  <div class="icon">
    <i class="fa fa-database" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.database id="database" %}

  <div class="icon">
    <i class="fa fa-key" aria-hidden="true"></i>
  </div>
  <div id="auth" class="toc-section">
    <h3>Authentication</h3>
    {% include toc-examples.html items=site.data.examplelist.iam-auth id="iam-auth" %}
    {% include toc-examples.html items=site.data.examplelist.jwt-auth id="jwt-auth" %}
  </div>

  <div class="icon">
    <i class="fa fa-clock-o" aria-hidden="true"></i>
  </div>
  {% include toc-examples.html items=site.data.examplelist.async id="async" %}

</section>
