<footer class="site-footer">

  <div class="wrapper wrapper-footer">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="{{ "/" | relative_url}}">
          <img alt="{{ site.title | escape }}" src="/assets/lander/logo/sst.svg" height="54" />
        </a>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="link-list">
          <li class="col-title">Products</li>
          <li><a class="page-link" href="{{ site.sst_github_repo }}">SST</a></li>
          <li><a class="page-link" href="{{ site.seed_url }}">Seed</a></li>
          <li><a class="page-link" href="{% link guide.md %}">Guide</a></li>
        </ul>
        <ul class="link-list">
          <li class="col-title">Resources</li>
          <li><a class="page-link" href="{{ site.docs_url }}">Docs</a></li>
          <li><a class="page-link" href="{{ site.forum_url }}">Forums</a></li>
          <li><a class="page-link" href="{% link _examples/index.md %}">Examples</a></li>
          <li><a class="page-link" href="{% link newsletter.md %}">Newsletter</a></li>
        </ul>
        <ul class="link-list">
          <li class="col-title">Company</li>
          <li><a class="page-link" href="{% link blog/index.md %}">Blog</a></li>
          <li><a class="page-link" href="{% link about/index.html %}">About us</a></li>
          <li><a class="page-link" href="mailto:{{ site.email }}">Contact us</a></li>
          <li><a class="page-link" href="{% link about/culture.md %}">How we work</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li class="site-description">{{ site.description }}</li>
          <li class="site-buttons">
            <a class="sst-button primary" href="{% link careers.html %}">
              Join our team!
            </a>
            <a class="sst-button secondary" href="mailto:{{ site.email }}">
              Contact us
            </a>
          </li>
          <li class="social-links">
            <a href="{{ site.github_repo }}">
              <span class="icon">
                <i class="fa fa-github fa-lg" aria-hidden="true"></i>
              </span>
            </a>
            <a class="slack" href="{{ site.slack_invite_url }}">
              <span class="icon">
                <img src="/assets/lander/slack-mark-white.svg" />
              </span>
            </a>
            <a href="{{ site.twitter_url }}">
              <span class="icon">
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              </span>
            </a>
            <a href="{{ site.linkedin_url }}">
              <span class="icon">
                <i class="fa fa-linkedin fa-lg" aria-hidden="true"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <p class="site-author">&copy; 2022 <a href="https://anoma.ly">Anomaly Innovations</a></p>

  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- Newsletter Form JS -->
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/formEmbed.js?1519058398"></script>
<!-- Code Snippet Copy JS -->
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script>
  /** Start copy snippet code **/
  var codeElements = document.querySelectorAll(".highlighter-rouge code");

  for (i = 0; i < codeElements.length; i++) {
    var currentItem = codeElements[i];
    var clipButton = '<button class="clipbutton">Copy</button>';
    currentItem.insertAdjacentHTML("beforebegin", clipButton);
  }

  var clipboard = new ClipboardJS(".clipbutton", {
    text: function(trigger) {
      return trigger.nextElementSibling.innerText
        // Remove extra line at the end
        .replace(/\n$/, '')
        // Remove "$" from "$ mkdir some-command"
        .replace(/^\$ /gm, '');
    }
  });

  clipboard.on("success", function(e) {
    e.clearSelection();
    e.trigger.nextElementSibling.classList.add("copied");
    e.trigger.innerText = "Copied!";
    let t = setTimeout(function() {
      e.trigger.nextElementSibling.classList.remove("copied");
      e.trigger.innerText = "Copy";
    }, 300);
  });
  /** End copy snippet code **/

  /** Start sidebar ToC code **/
  $('#toc-sidebar ul.steps:has(a.active)').addClass('open');

  $('#toc-sidebar p.step a').click(function(e) {
    e.preventDefault();
    $(this).parent().next().toggleClass('open');
  });
  /** End sidebar ToC code **/

  /** Start mobile menu button code **/
  $("#mobile-menu-button").click(function(e) {
    e.preventDefault();
    var el = $("header.site-header");

    if (el.hasClass("expanded")) {
      $(document.body).css({overflow : "unset", position : "unset"});
    }
    else {
      $(document.body).css({overflow : "hidden", position : "fixed"});
    }

    el.toggleClass("expanded");
  });
  /** End mobile menu button code **/

  /** Start lander segmented control code **/
  $("#examples .controls button").click(function(e) {
    var el = $(this);
    var parent = el.parent();

    if (el.hasClass("active")) {
      return;
    }

    var name = el.data("name");
    var position = el.position();
    var scrollLeft = parent.scrollLeft();
    var width = Math.round(el.outerWidth());

    parent.children(".active").removeClass("active");
    el.addClass("active");

    parent.children(".highlight").css({
      left: Math.round(position.left) + scrollLeft, width: width
    });

    // Fade in content
    var targets = [
      "#examples .example .info.active",
      "#examples .example .code-block.active",
      "#examples .example .code-editor .navbar .title.active",
    ];

    for (var i = 0, l = targets.length; i < l; i++) {
      $(targets[i]).fadeOut(150, function() {
        $(this).removeClass("active");
        $(this).siblings("." + name)
          .addClass("active")
          .fadeIn(150);
      });
    }
  });
  /** End lander segmented control code **/

  /** Start lander case studies carousel **/
  $(function ($) {
    // cache the slider object for later use
    var slider = $("#case-studies .slideshow-container ul"),
      // get the width of the container for later use
      itemWidth = slider.parent().outerWidth();

    // Handle clicks on the next button
    slider.parent().parent().on("click", "button.prev", function (e) {
      e.preventDefault();

      slider.children("li:last").prependTo(slider);
      slider.css("left", -itemWidth);

      slider.animate(
        { left: 0 },
        300,
        "swing"
      );
    });

    // Handle clicks on the previous button
    slider.parent().parent().on("click", "button.next", function (e) {
      e.preventDefault();

      slider.animate(
        { left: -itemWidth },
        300,
        "swing",
        function () {
          slider.children("li:first").appendTo(slider);
          slider.css("left", 0);
        }
      );
    });
  });
  /** End lander case studies carousel **/

  /** Start ToC lander code **/
  $('.table-of-contents .chapters .expand').click(function() {
    $(this).closest('.chapters').addClass('expanded');
  });
  /** End ToC lander code **/

  /** Start GitHub Stars code **/
  function formatStars(num) {
    return num > 999
      ? parseFloat((num / 1000).toFixed(1)) + "k"
      : num;
  }
  $.ajax("https://api.github.com/repos/serverless-stack/serverless-stack")
    .done(function(data) {
      $("#github-star-count").text(formatStars(data.stargazers_count));
    });
  /** End GitHub Stars code **/
</script>
<!-- Docsearch -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> 
<script type="text/javascript">
  docsearch({
    appId: 'XC5BKTAK9X',
    apiKey: '8fd7c1cba3fbacc2dfc089eb4a1f06a1',
    indexName: 'serverless-stack',
    inputSelector: '.search-input',
    algoliaOptions: { 'facetFilters': ["lang:{{ page.lang | default: site.lang | default: "en" }}"] },
    debug: false
  });
</script>
<!-- instant.page pre-loading -->
<script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>
