<footer class="site-footer">

  <div class="wrapper wrapper-footer">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="link-list">
          <li class="site-title">
            {{ site.title | escape }}
          </li>
          <li><a class="page-link" href="{% link _chapters/changelog.md %}">Changelog</a></li>
          <li><a class="page-link" href="{% link showcase.md %}">Showcase</a></li>
          <li><a class="page-link" href="{% link about.md %}">About us</a></li>
          <li><a class="page-link" href="{% link sponsors.md %}">Sponsors</a></li>
          <li><a class="page-link" href="{{ site.github_repo }}">GitHub</a></li>
          <li><a class="page-link" href="{{ site.forum_url }}">Forums</a></li>
          <li><a class="page-link" href="{{ site.twitter_url }}">Twitter</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li class="site-description">Open source guide to building full-stack apps using Serverless and React</li>
          <li class="site-author">Created by <a href="http://anoma.ly">Anomaly Innovations</a></li>
        </ul>
      </div>

    </div>

  </div>

</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- Newsletter Form JS -->
<script src="https://emailoctopus.com/bundles/emailoctopuslist/js/formEmbed.js?1519058398"></script>
<!-- Code Snippet Copy JS -->
<script src="https://unpkg.com/clipboard@2.0.0/dist/clipboard.min.js"></script>
<script>
  /** Start copy snippet code **/
  var codeElements = document.querySelectorAll(".highlighter-rouge code");

  for (i = 0; i < codeElements.length; i++) {
    var currentItem = codeElements[i];
    var clipButton = '<button class="clipbutton">Copy</button>';
    currentItem.insertAdjacentHTML("beforebegin", clipButton);
  }

  var clipboard = new ClipboardJS(".clipbutton", {
    target: function(trigger) {
      return trigger.nextElementSibling;
    }
  });

  clipboard.on("success", function(e) {
    e.clearSelection();
    e.trigger.nextElementSibling.classList.add("copied");
    e.trigger.innerText = "Copied!";
    let t = setTimeout(function() {
      e.trigger.nextElementSibling.classList.remove("copied");
      e.trigger.innerText = "Copy";
    }, 300);
  });
  /** End copy snippet code **/

  /** Start sidebar ToC code **/
  $('#toc-sidebar ul.steps:has(a.active)').addClass('open');

  $('#toc-sidebar p.step a').click(function(e) {
    e.preventDefault();
    $(this).parent().next().toggleClass('open');
  });
  /** End sidebar ToC code **/
</script>
<!-- instant.page pre-loading -->
<script src="//instant.page/1.0.0" type="module" integrity="sha384-6w2SekMzCkuMQ9sEbq0cLviD/yR2HfA/+ekmKiBnFlsoSvb/VmQFSi/umVShadQI"></script>
