<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta content="{{ site.title | escape }}" property="og:site_name">


  <!-- Title -->
  {% if page.title %}
  {% assign title=page.title | strip | escape %}
  <title>{{ page.title | escape }}</title>
  <meta content="article" property="og:type">
  {% else %}
  {% assign title=site.title | strip | escape %}
  <title>{{ site.title | escape }}</title>
  <meta content="website" property="og:type">
  {% endif %}
  <meta content="{{ title }}" property="og:title">
  <meta content="{{ title }}" property="twitter:title">

  <!-- Description -->
  {% if page.description %}
    {% assign description=page.description | strip | escape %}
  {% else %}
    {% assign description=page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 400 | escape %}
  {% endif %}
  <meta content="{{ description }}" property="description">
  <meta content="{{ description }}" property="og:description">
  <meta content="{{ description }}" property="twitter:description">

  <!-- Page URL -->
  {% if page.url %}
  <meta content="{{ page.url | replace:'index.html','' | absolute_url }}" property="og:url">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% endif %}

  <!-- Page Language -->
  {% if page.lang %}
  <meta property="og:locale" content="{{ page.lang }}">
  {% else %}
  <meta property="og:locale" content="en_US">
  {% endif %}

  <!-- Image -->
  {% assign encoded_title=title | url_encode | base64_encode | url_encode %}
  {% if page.collection == "chapters" %}
  <meta content="{{ site.social_cards_url }}/serverless-stack-guide/{{ encoded_title }}.png" property="og:image">
  <meta content="{{ site.social_cards_url }}/serverless-stack-guide/{{ encoded_title }}.png" property="twitter:image">
  {% elsif page.collection == "examples" %}
  <meta content="{{ site.social_cards_url }}/serverless-stack-examples/{{ encoded_title }}.png" property="og:image">
  <meta content="{{ site.social_cards_url }}/serverless-stack-examples/{{ encoded_title }}.png" property="twitter:image">
  {% elsif page.id %}
  <meta content="{{ site.social_cards_url }}/serverless-stack-blog/author_{{ site.data.authors[page.author].name | url_encode }}-avatar_{{ page.author }}/{{ encoded_title }}.png" property="og:image">
  <meta content="{{ site.social_cards_url }}/serverless-stack-blog/author_{{ site.data.authors[page.author].name | url_encode }}-avatar_{{ page.author }}/{{ encoded_title }}.png" property="twitter:image">
  {% elsif page.image %}
  <meta content="{{ site.social_cards_url }}/{{ page.image }}" property="og:image">
  <meta content="{{ site.social_cards_url }}/{{ page.image }}" property="twitter:image">
  {% else %}
  <meta content="{{ site.social_cards_url }}/serverless-stack-lander/index.png" property="og:image">
  <meta content="{{ site.social_cards_url }}/serverless-stack-lander/index.png" property="twitter:image">
  {% endif %}

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter }}">
  {% if page.id && site.data.authors[page.author].twitter %}
  <meta name="twitter:creator" content="@{{ site.data.authors[page.author].twitter }}">
  {% endif %}

  <!-- Localization -->
  {% if page.ref %}
    {% assign pages=site.chapters | where:"ref", page.ref | sort: 'lang' %}
    {% for page in pages %}
  <link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url }}" />
    {% endfor %}
  {% endif %}

  <!-- Styles -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

  <!-- Newsletter Form Styles -->
  <link rel="stylesheet" href="https://emailoctopus.com/bundles/emailoctopuslist/css/formEmbed.css?1519058398">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Source+Code+Pro:wght@400;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="assets/site.webmanifest">
  <link rel="mask-icon" href="assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  {% if jekyll.environment == 'production' and site.google_analytics %}
  {% include google-analytics.html %}
  {% endif %}

  <!-- Docsearch -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"> 
</head>
