<header class="site-header" role="banner">

<div class="wrapper wrapper-header">
  <div class="content">

    <div class="col1">
      <a class="site-title" href="{{ "/" | relative_url}}">
        <img alt="{{ site.title | escape }}" src="/assets/logo/sst-animation-svg0.svg" height="48" />
        <img alt="{{ site.title | escape }}" src="/assets/logo/sst-animation-svg1.svg" height="48" />
        <img alt="{{ site.title | escape }}" src="/assets/logo/sst-animation-svg2.svg" height="48" />
        <img alt="{{ site.title | escape }}" src="/assets/logo/sst-animation-svg3.svg" height="48" />
      </a>

      {% include social-buttons.html %}
    </div>

    <div class="col2">
      {% include search-field.html %}
    </div>

  </div>

    <!--
    <a class="site-announcement" target="_blank" href="{{ site.github_repo }}{{ site.github_issues_prefix }}193">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> We recently updated our guide. Read about it here.
    </a>
    -->
</div>

</header>
