<header class="lander-header" role="banner">

  <div class="header-wrapper">

    <div class="columns">
      <div class="col1">
        <h1 class="site-description">Helping you build full-stack serverless apps</h1>

        <h4 class="site-description-full">
          Serverless Stack (SST) is a framework that makes it easy to build serverless applications. Check out our examples or follow our step-by-step guide to get started.
        </h4>

        <div class="controls">
          <a class="button" href="{{ site.sst_github_repo }}"><i class="fa fa-github" aria-hidden="true"></i> View on GitHub</a>
          <a class="button" href="https://docs.serverless-stack.com/installation">Get Started <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="col2">

        <div class="video-wrapper">
          <iframe src="https://www.youtube-nocookie.com/embed/hnTSTm5n11g?autoplay=1&amp;loop=1&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;disablekb=1&amp;mute=1&amp;muted=1" width="560" height="315" frameBorder="0" allow="autoplay; modestbranding; encrypted-media"></iframe>
          <div class="coaster"></div>
        </div>
      </div>
    </div>

  </div>

</header>

<div class="features">

  <div class="quick-start">
    <div class="navbar">
      <div class="controls">
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
      </div>
    </div>
    <div class="code-block">
      <div class="token-line">
        <span class="token lead">#</span><span class="token dim">Create a new Serverless Stack app</span>
      </div>
      <div class="token-line">
        <span class="token lead">$</span> npx <span class="token keyword">create-serverless-stack</span> my-sst-app</span>
      </div>
      <div class="token-line">
        <span class="token lead">$</span> cd my-sst-app</span>
      </div>
      <br />
      <div class="token-line">
        <span class="token lead">#</span><span class="token dim">Start the Live Lambda Dev environment</span>
      </div>
      <div class="token-line">
        <span class="token lead">$</span> npx <span class="token keyword">sst</span> <span class="token plain">start</span>
      </div>
      <br />
      <div class="token-line">
        <span class="token lead">#</span><span class="token dim">Deploy to prod</span>
      </div>
      <div class="token-line">
        <span class="token lead">$</span> npx <span class="token keyword">sst</span> <span class="token plain">deploy</span> --stage prod
      </div>
    </div>
  </div>

  <div class="list">
    <div class="feature">
      <div class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></div>
      <h4>Live Lambda Development</h4>
      <p>Work on your local Lambda functions live, without mocking or redeploying your app.</p>
    </div>
    <div class="feature">
      <div class="icon"><i class="fa fa-cubes" aria-hidden="true"></i></div>
      <h4>Composable serverless constructs</h4>
      <p>Higher-level CDK constructs made specifically for building serverless apps.</p>
    </div>
    <div class="feature">
      <div class="icon"><i class="fa fa-magic" aria-hidden="true"></i></div>
      <h4>Zero-config ES &amp; TS support</h4>
      <p>Automatic transpiling and reloading for ES and TypeScript. Without any additional dependencies.</p>
    </div>
  </div>

</div>

<div id="examples" class="examples">

  <div class="title">
    <h2>Examples</h2>
    <p>
      Quick start examples to help you build the type of Serverless Stack app you want.
      <a class="more" href="{% link _examples/index.md %}">
        View all the examples <i class="fa fa-angle-right" aria-hidden="true"></i>
      </a>
    </p>
  </div>

  <div class="controls">
    <div class="scroll-content">
      <div class="list">
        <button data-name="rest-api" class="active">Simple API</button>
        <button data-name="crud-api">CRUD API</button>
        <button data-name="api-auth">API with auth</button>
        <button data-name="cron-job">Cron job</button>
        <button data-name="queue">Queue</button>
        <button class="highlight">Simple API</button>
      </div>
      <div class="scroll-shadow left"></div>
      <div class="scroll-shadow right"></div>
    </div>
  </div>

  <div class="example-list">
    <div class="example">

      <!-- Infos -->
      <div class="info active rest-api">
        <div class="icon">
          <i class="fa fa-link" aria-hidden="true"></i>
        </div>
        <h4>Simple REST API</h4>
        <p>Create a serverless REST API on AWS using the SST Api construct to define our routes and functions.</p>
        <a href="{% link _examples/how-to-create-a-rest-api-with-serverless.md %}">
          View example <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info crud-api" style="display: none">
        <div class="icon">
        <i class="fa fa-database" aria-hidden="true"></i>
        </div>
        <h4>CRUD API</h4>
        <p>Create a CRUD API with serverless and DynamoDB. Using the SST Api and Table constructs.</p>
        <a href="{% link _examples/how-to-create-a-crud-api-with-serverless-using-dynamodb.md %}">
          View example <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info api-auth" style="display: none">
        <div class="icon">
          <i class="fa fa-key" aria-hidden="true"></i>
        </div>
        <h4>API with Auth</h4>
        <p>Add Facebook authentication to a serverless API using the SST Api and Auth constructs.</p>
        <a href="{% link _examples/how-to-add-facebook-authentication-to-a-serverless-api.md %}">
          View example <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info cron-job" style="display: none">
        <div class="icon">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <h4>Cron Job</h4>
        <p>Create a cron job in your serverless app using the SST Cron construct.</p>
        <a href="{% link _examples/how-to-use-cron-jobs-in-your-serverless-app.md %}">
          View example <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="info queue" style="display: none">
        <div class="icon">
          <i class="fa fa-list-ol" aria-hidden="true"></i>
        </div>
        <h4>Queue</h4>
        <p>Create a queue system in your serverless app using the SST Api and Queue constructs.</p>
        <a href="{% link _examples/how-to-use-queues-in-your-serverless-app.md %}">
          View example <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
      <!-- End Infos -->

      <div class="code-editor">
        <div class="navbar">
          <div class="controls">
            <div class="button"></div>
            <div class="button"></div>
            <div class="button"></div>
          </div>
          <!-- Code Titles -->
          <div class="title rest-api active">api.js</div>
          <div class="title crud-api" style="display: none">crud.js</div>
          <div class="title api-auth" style="display: none">auth.js</div>
          <div class="title cron-job" style="display: none">cron.js</div>
          <div class="title queue" style="display: none">queue.js</div>
          <!-- End Code Titles -->
        </div>
        <!-- Code Blocks -->
        <div class="code-block rest-api active">
          <div class="token-line">
            <span class="token lead">1</span> <span class="token italics">new</span> <span class="token keyword">sst.Api</span>(<span class="token italics">this</span>, <span class="token string">"Api"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">2</span>&nbsp;&nbsp;routes: {
          </div>
          <div class="token-line">
            <span class="token lead">3</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="token string">"GET /notes"</span>: <span class="token string">"src/list.main"</span>,
          </div>
          <div class="token-line">
            <span class="token lead">4</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="token string">"GET /notes{id}"</span>: <span class="token string">"src/get.main"</span>,
          </div>
          <div class="token-line">
            <span class="token lead">5</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="token string">"PUT /notes{id}"</span>: <span class="token string">"src/update.main"</span>
          </div>
          <div class="token-line">
            <span class="token lead">6</span>&nbsp;&nbsp;}
          </div>
          <div class="token-line">
            <span class="token lead">7</span>});
          </div>
        </div>
        <div class="code-block crud-api long" style="display: none">
          <div class="token-line">
            <span class="token lead">1</span> <span class="token italics">const</span> table <span class="token operator">=</span> <span class="token italics">new</span> <span class="token keyword">sst.Table</span>(<span class="token italics">this</span>, <span class="token string">"Notes"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">2</span>&nbsp;&nbsp;fields: {
          </div>
          <div class="token-line">
            <span class="token lead">3</span>&nbsp;&nbsp;&nbsp;&nbsp;userId: TableFieldType.<span class="token keyword">STRING</span>,
          </div>
          <div class="token-line">
            <span class="token lead">4</span>&nbsp;&nbsp;&nbsp;&nbsp;noteId: TableFieldType.<span class="token keyword">STRING</span>
          </div>
          <div class="token-line">
            <span class="token lead">5</span>&nbsp;&nbsp;},
          </div>
          <div class="token-line">
            <span class="token lead">6</span>&nbsp;&nbsp;primaryIndex: {
          </div>
          <div class="token-line">
            <span class="token lead">7</span>&nbsp;&nbsp;&nbsp;&nbsp;partitionKey: <span class="token string">"userId"</span>,
          </div>
          <div class="token-line">
            <span class="token lead">8</span>&nbsp;&nbsp;&nbsp;&nbsp;sortKey: <span class="token string">"noteId"</span>
          </div>
          <div class="token-line">
            <span class="token lead">9</span>&nbsp;&nbsp;}
          </div>
          <div class="token-line">
            <span class="token lead">10</span>});
          </div>
          <div class="token-line">
            <span class="token lead">11</span>&nbsp;
          </div>
          <div class="token-line">
            <span class="token lead">12</span><span class="token dim">// Allow the API to access the table</span>
          </div>
          <div class="token-line">
            <span class="token lead">13</span>api.<span class="token keyword">attachPermissions</span>([table]);
          </div>
        </div>
        <div class="code-block api-auth long" style="display: none">
          <div class="token-line">
            <span class="token lead">1</span> <span class="token italics">const</span> api <span class="token operator">=</span> <span class="token italics">new</span> <span class="token keyword">sst.Api</span>(<span class="token italics">this</span>, <span class="token string">"Api"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">2</span>&nbsp;&nbsp;defaultAuthorizationType:
          </div>
          <div class="token-line">
            <span class="token lead">3</span>&nbsp;&nbsp;&nbsp;&nbsp;sst.ApiAuthorizationType.<span class="token option">AWS_IAM</span>,
          </div>
          <div class="token-line">
            <span class="token lead">4</span>&nbsp;&nbsp;routes: {
          </div>
          <div class="token-line">
            <span class="token lead">5</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="token string">"GET /private"</span>: <span class="token string">"src/private.main"</span>
          </div>
          <div class="token-line">
            <span class="token lead">6</span>&nbsp;&nbsp;}
          </div>
          <div class="token-line">
            <span class="token lead">7</span>});
          </div>
          <div class="token-line">
            <span class="token lead">8</span>&nbsp;
          </div>
          <div class="token-line">
            <span class="token lead">9</span> <span class="token italics">const</span> auth <span class="token operator">=</span> <span class="token italics">new</span> <span class="token keyword">sst.Auth</span>(<span class="token italics">this</span>, <span class="token string">"Auth"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">10</span>&nbsp;&nbsp;facebook: { appId: <span class="token string">"419718329085014"</span> }
          </div>
          <div class="token-line">
            <span class="token lead">11</span>});
          </div>
          <div class="token-line">
            <span class="token lead">12</span>&nbsp;
          </div>
          <div class="token-line">
            <span class="token lead">13</span><span class="token dim">// Allow auth users to access the API</span>
          </div>
          <div class="token-line">
            <span class="token lead">14</span>auth.<span class="token keyword">attachPermissionsForAuthUsers</span>([api]);
          </div>
        </div>
        <div class="code-block cron-job" style="display: none">
          <div class="token-line">
            <span class="token lead">1</span> <span class="token italics">new</span> <span class="token keyword">sst.Cron</span>(<span class="token italics">this</span>, <span class="token string">"Cron"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">2</span>&nbsp;&nbsp;job: <span class="token string">"src/lambda.main"</span>,
          </div>
          <div class="token-line">
            <span class="token lead">3</span>&nbsp;&nbsp;schedule: <span class="token string">"rate(1 minute)"</span>
          </div>
          <div class="token-line">
            <span class="token lead">4</span>});
          </div>
          <div class="token-line">
            <span class="token lead">5</span>&nbsp;
          </div>
          <div class="token-line">
            <span class="token lead">6</span><span class="token dim">// Allow access to other resources</span>
          </div>
          <div class="token-line">
            <span class="token lead">7</span>api.<span class="token keyword">attachPermissions</span>([<span class="token string">"s3"</span>]);
          </div>
        </div>
        <div class="code-block queue long" style="display: none">
          <div class="token-line">
            <span class="token lead">1</span> <span class="token italics">const</span> queue <span class="token operator">=</span> <span class="token italics">new</span> <span class="token keyword">sst.Queue</span>(<span class="token italics">this</span>, <span class="token string">"Queue"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">2</span>&nbsp;&nbsp;consumer: <span class="token string">"src/queueConsumer.main"</span>
          </div>
          <div class="token-line">
            <span class="token lead">3</span>});
          </div>
          <div class="token-line">
            <span class="token lead">4</span>&nbsp;
          </div>
          <div class="token-line">
            <span class="token lead">5</span> <span class="token italics">const</span> api <span class="token operator">=</span> <span class="token italics">new</span> <span class="token keyword">sst.Api</span>(<span class="token italics">this</span>, <span class="token string">"Api"</span>, {
          </div>
          <div class="token-line">
            <span class="token lead">6</span>&nbsp;&nbsp;routes: {
          </div>
          <div class="token-line">
            <span class="token lead">7</span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="token string">"GET /"</span>: <span class="token string">"src/publisher.main"</span>
          </div>
          <div class="token-line">
            <span class="token lead">8</span>&nbsp;&nbsp;}
          </div>
          <div class="token-line">
            <span class="token lead">9</span>});
          </div>
          <div class="token-line">
            <span class="token lead">10</span>&nbsp;
          </div>
          <div class="token-line">
            <span class="token lead">11</span><span class="token dim">// Allow the API to publish to the queue</span>
          </div>
          <div class="token-line">
            <span class="token lead">12</span>api.<span class="token keyword">attachPermissions</span>([queue]);
          </div>
        </div>
        <!-- End Code Blocks -->
      </div>
      <div class="coaster"></div>
    </div>
  </div>
</div>

<div id="guide" class="guide">
  <div class="title">
    <h2>Serverless Stack Guide</h2>
    <p>
      A comprehensive step-by-step guide to help you build a full-stack app using Serverless Stack and React on AWS.
    </p>
    <p>Subscribe to our updates and join over 30K readers from some of the biggest companies in the world.</p>
  </div>

  <div class="form">
    <div class="email-octopus-form-wrapper">
      <p class="email-octopus-success-message"></p>
      <p class="email-octopus-error-message"></p>
      <form method="post" action="https://emailoctopus.com/lists/1c11b9a8-1500-11e8-a3c9-06b79b628af2/members/external-add" class="email-octopus-form">
        <div class="email-octopus-form-row">
          <input type="email" name="emailAddress" placeholder="email@domain.com" class="email-octopus-email-address">
        </div>
        <div class="email-octopus-form-row" style="display: none;">
          <label>First name</label>
          <input type="text" name="firstName" class="email-octopus-first-name" value="">
        </div>
        <div class="email-octopus-form-row" style="display: none;">
          <label>Last name</label>
          <input type="text" name="lastName" class="email-octopus-last-name" value="">
        </div>
        <div class="email-octopus-form-row-hp" aria-hidden="true">
          <input type="text" name="hp1c11b9a8-1500-11e8-a3c9-06b79b628af2" tabindex="-1" autocomplete="nope">
        </div>
        <div class="email-octopus-form-row-subscribe">
          <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="/thanks.html">
          <button type="submit">Get Ebook</button>
        </div>
      </form>
    </div>
  </div>

  <div class="readers">
    <div class="readers-list">
      <div class="scroll-content">
        <ul class="logos">
          <li class="tall"><img src="/assets/readers/ibm.svg" /></li>
          <li class="tall"><img src="/assets/readers/intel.svg" /></li>
          <li class="m-w"><img src="/assets/readers/microsoft.svg" /></li>
          <li class=""><img src="/assets/readers/amazon.svg" /></li>
          <li class="m-t"><img src="/assets/readers/hp.svg" /></li>
          <li class="tall"><img src="/assets/readers/cisco.svg" /></li>
          <li class="m-t"><img src="/assets/readers/dell.svg" /></li>
          <li class="m-w"><img src="/assets/readers/accenture.svg" /></li>
          <li class="m-t"><img src="/assets/readers/adobe.svg" /></li>
          <li class="m-w"><img src="/assets/readers/airbus.svg" /></li>
          <li class="m-w"><img src="/assets/readers/alibaba.svg" /></li>
          <li class="m-w"><img src="/assets/readers/autodesk.svg" /></li>
          <li class="tall"><img src="/assets/readers/best-buy.svg" /></li>
          <li class=""><img src="/assets/readers/cbs.svg" /></li>
          <li class="tall"><img src="/assets/readers/emirates.svg" /></li>
          <li class="m-w"><img src="/assets/readers/exxon-mobil.svg" /></li>
          <li class="m-w"><img src="/assets/readers/fujifilm.svg" /></li>
          <li class="tall"><img src="/assets/readers/hilton.svg" /></li>
          <li class="m-w"><img src="/assets/readers/nasdaq.svg" /></li>
          <li class="m-w"><img src="/assets/readers/new-york-times.svg" /></li>
          <li class=""><img src="/assets/readers/nike.svg" /></li>
          <li class="tall"><img src="/assets/readers/pwc.svg" /></li>
          <li class=""><img src="/assets/readers/shaw.svg" /></li>
          <li class="m-w"><img src="/assets/readers/sky-bet.svg" /></li>
          <li class="m-w"><img src="/assets/readers/staples.svg" /></li>
          <li class=""><img src="/assets/readers/tesco.svg" /></li>
          <li class="m-w"><img src="/assets/readers/twilio.svg" /></li>
          <li class="m-w"><img src="/assets/readers/verizon.svg" /></li>
          <!-- Repeat -->
          <li class="tall"><img src="/assets/readers/ibm.svg" /></li>
          <li class="tall"><img src="/assets/readers/intel.svg" /></li>
          <li class="m-w"><img src="/assets/readers/microsoft.svg" /></li>
          <li class=""><img src="/assets/readers/amazon.svg" /></li>
          <li class="m-t"><img src="/assets/readers/hp.svg" /></li>
          <li class="tall"><img src="/assets/readers/cisco.svg" /></li>
          <li class="m-t"><img src="/assets/readers/dell.svg" /></li>
          <li class="m-w"><img src="/assets/readers/accenture.svg" /></li>
          <li class="m-t"><img src="/assets/readers/adobe.svg" /></li>
          <li class="m-w"><img src="/assets/readers/airbus.svg" /></li>
          <li class="m-w"><img src="/assets/readers/alibaba.svg" /></li>
          <li class="m-w"><img src="/assets/readers/autodesk.svg" /></li>
          <li class="tall"><img src="/assets/readers/best-buy.svg" /></li>
          <li class=""><img src="/assets/readers/cbs.svg" /></li>
          <li class="tall"><img src="/assets/readers/emirates.svg" /></li>
          <li class="m-w"><img src="/assets/readers/exxon-mobil.svg" /></li>
          <li class="m-w"><img src="/assets/readers/fujifilm.svg" /></li>
          <li class="tall"><img src="/assets/readers/hilton.svg" /></li>
          <li class="m-w"><img src="/assets/readers/nasdaq.svg" /></li>
          <li class="m-w"><img src="/assets/readers/new-york-times.svg" /></li>
          <li class=""><img src="/assets/readers/nike.svg" /></li>
          <li class="tall"><img src="/assets/readers/pwc.svg" /></li>
          <li class=""><img src="/assets/readers/shaw.svg" /></li>
          <li class="m-w"><img src="/assets/readers/sky-bet.svg" /></li>
          <li class="m-w"><img src="/assets/readers/staples.svg" /></li>
          <li class=""><img src="/assets/readers/tesco.svg" /></li>
          <li class="m-w"><img src="/assets/readers/twilio.svg" /></li>
          <li class="m-w"><img src="/assets/readers/verizon.svg" /></li>
        </ul>
        <div class="scroll-shadow left"></div>
        <div class="scroll-shadow right"></div>
      </div>
    </div>
  </div>

</div>
