<div class="lander">
  <div class="support-lander">
    <p>Brought to you by</p>
    <a target="_blank" href="https://seed.run"><img width="435" alt="A fully-configured CI/CD pipeline for Serverless" src="/assets/seed-serverless-ci-cd.png" /></a>
    <p><a href="{% link sponsors.md %}#backers">Check out our supporters</a></p>
  </div>

  <div class="feature-divider"></div>

  <p class="feature-desc">
    Our comprehensive tutorials include
  </p>

  <ul class="feature-list">
    <li>Step-by-step <strong>instructions with screenshots</strong> for setting up your AWS services</li>
    <li>Build a REST API backend with our <strong>Serverless tutorial</strong></li>
    <li><strong>Easy to understand</strong> explanations for creating a single-page application with our <strong>React.js tutorial</strong></li>
    <li><strong>Over 120 chapters</strong> that take you all the way from creating your AWS account to deploying your app on your own domain</li>
    <li><strong>Complete code samples</strong> hosted on GitHub for both the backend and frontend</li>
    <li><strong>Up to date</strong> info thanks to contributions from the community</li>
    <li><strong>Forums</strong> on Discourse to answer your questions</li>
    <li>And it’s all <strong>free!</strong></li>
  </ul>

  <div class="feature-divider"></div>

  <p class="updates-desc">
    Recent updates to Serverless Stack
  </p>

  <div class="updates">
    <div class="icon">
      <i class="fa fa-flag" aria-hidden="true"></i>
    </div>
    <div class="copy">
      <h6>{{ site.data.changelog.current.title }}</h6>
      <p>{{ site.data.changelog.current.desc }}</p>
      <a href="{% link _chapters/changelog.md %}">View all the past updates</a>
    </div>
  </div>

  <div class="feature-divider"></div>

  <p class="quotes-desc">
    Here is what folks are saying about us
  </p>

  <ul class="quotes">
    <li>
      <p>I just completed your tutorial on the Serverless stack, and it was fantastic. It was <u>carefully thought out</u>, <u>well-written</u>, and <u>incredibly thorough</u>. You guys rock!</p>
      <p>&#8210; Chris Deery, Architect at <a target="_blank" href="http://www.quickbase.com/">QuickBase</a></p>
    </li>
    <li>
      <p>This is the <u>best and most comprehensive</u> fullstack serverless tutorial available. Take the time to go through every step, <u>you will learn a ton</u>!</p>
      <p>&#8210; Marcus Molchany, Engineer at <a target="_blank" href="https://fullscreen.com">Fullscreen</a></p>
    </li>
    <li>
      <p>Rarely do tutorials neatly break things down into bite-sized steps. Even rarer do they clearly explain what each step is for and why it is necessary. The <u>Serverless-Stack is the Holy Grail</u> that does all three.</p>
      <p>&#8210; Allison Yaeger, <a target="_blank" href="http://theuxarchitect.webflow.io/">Independent UX Architect</a></p>
    </li>
    <li>
      <p>I think this is the <u>best tech tutorial</u> I've read <u>in the last 20 years</u>. It's <u>detailed, well-written</u>, covers a multitude of the latest technologies, and the layout of each chapter makes the subject matter <u>easy to digest</u>. Cheers!</p>
      <p>&#8210; Kevin, Engineer</p>
    </li>
  </ul>
</div>
