<div class="lander">
  <h1 class="pitch">
    Serverless Stack is an <a href="{{ site.github_repo }}">open source</a> guide for building and deploying full-stack apps using Serverless and React on AWS. Create a <a href="https://demo.serverless-stack.com">note taking app</a> from scratch using the Serverless Framework and Create React App. Follow our step-by-step tutorials with screenshots and code samples. And use our <a href="{{ site.github_repo }}/issues?q=is%3Aissue+is%3Aopen+label%3ADiscussion+sort%3Aupdated-desc">GitHub Issues</a> if you have any questions.
  </h1>

  <div class="feature-divider"></div>

  <p class="feature-pitch">
    Tired of reading blog posts to build your full-stack Serverless app?
  </p>

  <div class="feature-divider"></div>

  <p class="feature-desc">
    Our comprehensive tutorials include
  </p>

  <ul class="feature-list">
    <li>Step-by-step <strong>instructions with screenshots</strong> for setting up your AWS services</li>
    <li>Build a REST API backend with our <strong>Serverless tutorial</strong></li>
    <li><strong>Easy to understand</strong> explanations for creating a single-page application with our <strong>React.js tutorial</strong></li>
    <li><strong>Over 50 tutorials</strong> that take you all the way from creating your AWS account to deploying your app on your own domain</li>
    <li><strong>Complete code samples</strong> hosted on GitHub for both the backend and frontend</li>
    <li><strong>Up to date</strong> info thanks to contributions from the community</li>
    <li><strong>Comments</strong> on GitHub issues to answer your questions</li>
    <li>And it’s all <strong>free!</strong></li>
  </ul>

  <div class="feature-divider"></div>

  <p class="quotes-desc">
    Here is what folks are saying about us
  </p>

  <ul class="quotes">
    <li>
      <p>I just completed your tutorial on the Serverless stack, and it was fantastic. It was <u>carefully thought out</u>, <u>well-written</u>, and <u>incredibly thorough</u>. You guys rock!</p>
      <p>&#8210; Chris Deery, Architect at <a target="_blank" href="http://www.quickbase.com/">QuickBase</a></p>
    </li>
    <li>
      <p>This is the <u>best</u> and <u>most comprehensive</u> fullstack serverless tutorial available. Take the time to go through every step, <u>you will learn a ton</u>!</p>
      <p>&#8210; Marcus Molchany, Engineer at <a target="_blank" href="https://fullscreen.com">Fullscreen</a></p>
    </li>
    <li>
      <p>Rarely do tutorials neatly break things down into bite-sized steps. Even rarer do they clearly explain what each step is for and why it is necessary. The Serverless-Stack is the <u>Holy Grail</u> that does all three.</p>
      <p>&#8210; Allison Yaeger, <a target="_blank" href="http://theuxarchitect.webflow.io/">Independent UX Architect</a></p>
    </li>
    <li>
      <p>I think this is the <u>best tech tutorial</u> I've read in the last 20 years. It's detailed, well-written, covers a multitude of the latest technologies, and the layout of each chapter makes the subject matter easy to digest. Cheers!</p>
      <p>&#8210; Kevin, Engineer</p>
    </li>
    <li>
      <p><u>Outstanding intro</u> to going serverless on AWS!</p>
      <p>&#8210; Dennis Burke, Technical Lead at <a target="_blank" href="http://www.coxautoinc.com">Cox Automotive</a></p>
    </li>
  </ul>
</div>
