{: .pitch }
# Serverless Stack is a free comprehensive guide to creating full-stack serverless applications. Create a [note taking app](https://demo.serverless-stack.com) from scratch using React.js, AWS Lambda, API Gateway, DynamoDB, and Cognito. Follow our step-by-step tutorials and use our live chat if you have any questions.

<div class="feature-divider"></div>

{: .feature-pitch }
Tired of reading multiple blog posts to create your serverless app?

<div class="feature-divider"></div>

{: .feature-desc }
Our comprehensive tutorials include

{: .feature-list }
- Step-by-step **instructions with screenshots** for setting up your AWS serverless API backend
- **Easy to understand** explanations for creating a **React.js** single page app without using a ton of other external packages
- **Over 50 tutorials** that take you all the way from creating your AWS account to setting up your app with your own domain
- **Complete code samples** hosted on GitHub for both the backend and frontend
- **Live chat** to answer your questions and help you along the way
- And it’s all **free!**

<div class="feature-divider"></div>

{: .quotes-desc }
Here is what folks are saying about us

<ul class="quotes">
  <li>
    <p>&ldquo;I just completed your tutorial on the Serverless stack, and it was fantastic. It was carefully thought out, well-written, and incredibly thorough. You guys rock!&rdquo;</p>
    <p>&#8210; Chris Deery, Architect at <a target="_blank" href="http://www.quickbase.com/">QuickBase</a></p>
  </li>
  <li>
    <p>&ldquo;This is the best and most comprehensive fullstack serverless tutorial available. Take the time to go through every step, you will learn a ton!&rdquo;</p>
    <p>&#8210; Marcus Molchany, Engineer at <a target="_blank" href="https://fullscreen.com">Fullscreen</a></p>
  </li>
  <li>
    <p>&ldquo;A really comprehensive yet simple tutorial on creating serverless React apps. Covers key concepts in a way that even beginners can easily follow.&rdquo;</p>
    <p>&#8210; Zhiyan Feng, Full-Stack Engineer at <a target="_blank" href="https://myshyft.com">Shyft</a></p>
  </li>
</ul>
