<div class="copy">
  <p class="eyebrow">Part of the</p>
  <h6>Serverless Stack Guide</h6>
  <p class="description">Learn to build full-stack apps with serverless and React</p>
  <p class="body">Join 30,000 other readers and subscribe to our monthly newsletter. We’ll send you the entire 1000 page ebook for free!</p>
</div>
<div class="controls">
  <div class="support">
    <a class="button" target="_blank" href="{{ site.sst_github_repo }}">
      Star us on GitHub
    </a>
  </div>

  <div class="divider">
    <div></div>
    <span>&amp;</span>
  </div>

  <div class="email-octopus-form-wrapper">
    <p class="email-octopus-success-message"></p>
    <p class="email-octopus-error-message"></p>
    <form method="post" action="https://emailoctopus.com/lists/1c11b9a8-1500-11e8-a3c9-06b79b628af2/members/external-add" class="email-octopus-form">
      <div class="email-octopus-form-row">
        <input type="email" name="emailAddress" placeholder="email@example.com" class="email-octopus-email-address">
      </div>
      <div class="email-octopus-form-row" style="display: none;">
        <label>First name</label>
        <input type="text" name="firstName" class="email-octopus-first-name" value="">
      </div>
      <div class="email-octopus-form-row" style="display: none;">
        <label>Last name</label>
        <input type="text" name="lastName" class="email-octopus-last-name" value="">
      </div>
      <div class="email-octopus-form-row-hp" aria-hidden="true">
        <input type="text" name="hp1c11b9a8-1500-11e8-a3c9-06b79b628af2" tabindex="-1" autocomplete="nope">
      </div>
      <div class="email-octopus-form-row-subscribe">
        <input type="hidden" name="successRedirectUrl" class="email-octopus-success-redirect-url" value="/thanks.html">
        <button type="submit">Download</button>
      </div>
    </form>
  </div>
</div>
