<div class="copy">
  {% if include.type == "guide" %}
    <p class="eyebrow">Part of the</p>
    <h6>Serverless Stack Guide</h6>
    <p class="body">Download the FREE 1000 page ebook!</p>
    <p class="description">Get the most popular resource for building serverless apps. We'll also send you updates when new versions are published.</p>
  {% else %}
    <p class="eyebrow">Learn serverless</p>
    <h6>Serverless Stack Guide</h6>
    <p class="body">Download the FREE 1000 page ebook!</p>
    <p class="description">Get the most popular resource for building serverless apps. We'll also send you updates when new versions are published.</p>
  {% endif %}
</div>
<div class="controls">
  <div class="support">
    <a class="button" target="_blank" href="{{ site.sst_github_repo }}">
      Star us on GitHub
    </a>
  </div>

  <div class="divider">
    <div></div>
    <span>&amp;</span>
  </div>

  {% include email-octopus-form.html button_copy="Download" source="post-footer" %}

</div>
