<div class="context-cta">
  <div class="header">
    <img src="/assets/lander/ebook-cover.svg" width="86px" />
    {% if include.type == "guide" %}
      <p class="eyebrow">Part of the</p>
      <h6>Serverless Stack Guide</h6>
      <p>Learn to build full-stack apps with serverless and React.</p>
    {% else %}
      <p class="eyebrow">Get the</p>
      <h6>Serverless Stack Guide</h6>
      <p>The most popular resource for building serverless apps.</p>
    {% endif %}
  </div>
  <div class="body">
    <a class="guide" href="/#guide">
      View the guide&nbsp;
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>

