<div class="post-sponsor">
  <p><a href="/sponsors.html">Sponsor Serverless Stack</a></p>
  <div class="banners">
    {% assign data = site.data.sponsors.list.thundra || sample %}
    <a target="_blank" href="{{ data.link }}">
      <img width="{{ data.width }}" alt="{{ data.alt }}" src="{{ data.image }}" />
    </a>
    {% assign data = site.data.sponsors.list.epsagon || sample %}
    <a target="_blank" href="{{ data.link }}">
      <img width="{{ data.width }}" alt="{{ data.alt }}" src="{{ data.image }}" />
    </a>
  </div>
</div>
