<aside id="toc-sidebar" class="sidebar">

  <p class="section"><a href="/#table-of-contents">Table of Contents</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.preface id="preface" page_en_url=include.page_en_url %}

  <p class="section"><a href="/#part-1">Part I - The Basics</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.intro-part1 id="intro-part1" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.setup-aws id="setup-aws" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.setup-backend id="setup-backend" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.build-api id="build-api" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.deploy-backend id="deploy-backend" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.setup-react id="setup-react" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.build-react id="build-react" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.deploy-react id="deploy-react" page_en_url=include.page_en_url %}

  <p class="section"><a href="/#part-2">Part II - Automation</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.intro-part2 id="intro-part2" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.new-backend id="new-backend" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.infrastructure-code id="infrastructure-code" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.stripe-api id="stripe-api" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.unit-tests id="unit-tests" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.serverless-deployments id="serverless-deployments" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.connect-frontend id="connect-frontend" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.add-billing-form id="add-billing-form" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.react-deployments id="react-deployments" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.conclusion id="conclusion" page_en_url=include.page_en_url %}

  <p class="section"><a href="/#extra-credit">Extra Credit</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.extra-sls-architecture id="extra-sls-architecture" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.extra-backend id="extra-backend" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.extra-user-mgmt id="extra-user-management" page_en_url=include.page_en_url %}
  {% include toc-sidebar.html items=site.data.chapterlist.extra-frontend id="extra-frontend" page_en_url=include.page_en_url %}

</aside>
