<aside class="sidebar">

  <p class="section"><a href="/#table-of-contents">Jump to Section</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.preface id="preface" %}

  <p class="section"><a href="/#part-1">Part I - The Basics</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.intro-part1 id="intro-part1" %}
  {% include toc-sidebar.html items=site.data.chapterlist.setup-aws id="setup-aws" %}
  {% include toc-sidebar.html items=site.data.chapterlist.setup-backend id="setup-backend" %}
  {% include toc-sidebar.html items=site.data.chapterlist.build-api id="build-api" %}
  {% include toc-sidebar.html items=site.data.chapterlist.deploy-backend id="deploy-backend" %}
  {% include toc-sidebar.html items=site.data.chapterlist.setup-react id="setup-react" %}
  {% include toc-sidebar.html items=site.data.chapterlist.build-react id="build-react" %}
  {% include toc-sidebar.html items=site.data.chapterlist.deploy-react id="deploy-react" %}

  <p class="section"><a href="/#part-2">Part II - Automation</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.intro-part2 id="intro-part2" %}
  {% include toc-sidebar.html items=site.data.chapterlist.new-backend id="new-backend" %}
  {% include toc-sidebar.html items=site.data.chapterlist.infrastructure-code id="infrastructure-code" %}
  {% include toc-sidebar.html items=site.data.chapterlist.stripe-api id="stripe-api" %}
  {% include toc-sidebar.html items=site.data.chapterlist.unit-tests id="unit-tests" %}
  {% include toc-sidebar.html items=site.data.chapterlist.serverless-deployments id="serverless-deployments" %}
  {% include toc-sidebar.html items=site.data.chapterlist.connect-frontend id="connect-frontend" %}
  {% include toc-sidebar.html items=site.data.chapterlist.add-billing-form id="add-billing-form" %}
  {% include toc-sidebar.html items=site.data.chapterlist.react-deployments id="react-deployments" %}
  {% include toc-sidebar.html items=site.data.chapterlist.conclusion id="conclusion" %}

  <p class="section"><a href="/#extra-credit">Extra Credit</a></p>

  {% include toc-sidebar.html items=site.data.chapterlist.extra-sls-architecture id="extra-sls-architecture" %}
  {% include toc-sidebar.html items=site.data.chapterlist.extra-backend id="extra-backend" %}
  {% include toc-sidebar.html items=site.data.chapterlist.extra-user-mgmt id="extra-user-management" %}
  {% include toc-sidebar.html items=site.data.chapterlist.extra-frontend id="extra-frontend" %}

</aside>

