<div class="post-links">

  <p>For help and discussion</p>
  <a target="_blank" href="{{ site.forum_url }}{{ site.forum_thread_prefix }}{{ page.comments_id }}">
    <i class="fa fa-comments" aria-hidden="true"></i>
    Comments on this chapter
  </a>

  {% if page.code %}
  {% capture chapter_name %}{{ page.id | replace: '/chapters/', '' }}{% endcapture %}
  {% if page.code == 'backend_full' or page.code == 'frontend_full' %}
  {% capture repo_desc %}For reference, here is the code for Part II{% endcapture %}
  {% elsif page.code == 'backend_part1' or page.code == 'frontend_part1' %}
  {% capture repo_desc %}For reference, here is the code for Part I{% endcapture %}
  {% else %}
  {% capture repo_desc %}For reference, here is the code we are using{% endcapture %}
  {% endif %}
  <p class="code">{{ repo_desc }}</p>
  {% if page.code == 'backend' %}
    {% capture repo_url %}{{ site.backend_github_repo }}/tree/{{ chapter_name }}{% endcapture %}
    {% capture repo_tag %}Backend Source :{{ chapter_name }}{% endcapture %}

  {% elsif page.code == 'frontend' %}
    {% capture repo_url %}{{ site.frontend_github_repo }}/tree/{{ chapter_name }}{% endcapture %}
    {% capture repo_tag %}Frontend Source :{{ chapter_name }}{% endcapture %}

  {% elsif page.code == 'backend_part1' %}
    {% capture repo_url %}{{ site.backend_github_repo }}/tree/handle-api-gateway-cors-errors{% endcapture %}
    {% capture repo_tag %}Backend Part I Source{% endcapture %}

  {% elsif page.code == 'frontend_part1' %}
    {% capture repo_url %}{{ site.frontend_github_repo }}/tree/part-1{% endcapture %}
    {% capture repo_tag %}Frontend Part I Source{% endcapture %}

  {% elsif page.code == 'backend_full' %}
    {% capture repo_url %}{{ site.backend_github_repo }}{% endcapture %}
    {% capture repo_tag %}Backend Part II Source{% endcapture %}

  {% elsif page.code == 'mono-repo' %}
    {% capture repo_url %}{{ site.backend_mono_github_repo }}{% endcapture %}
    {% capture repo_tag %}Mono-repo Backend Source{% endcapture %}

  {% elsif page.code == 'facebook-login' %}
    {% capture repo_url %}{{ site.frontend_fb_login_github_repo }}{% endcapture %}
    {% capture repo_tag %}Facebook Login Frontend Source{% endcapture %}

  {% elsif page.code == 'user-management' %}
    {% capture repo_url %}{{ site.frontend_user_mgmt_github_repo }}{% endcapture %}
    {% capture repo_tag %}User Management Frontend Source{% endcapture %}

  {% elsif page.code == 'frontend_full' %}
    {% capture repo_url %}{{ site.frontend_github_repo }}{% endcapture %}
    {% capture repo_tag %}Frontend Part II Source{% endcapture %}
  {% endif %}
  <a target="_blank" href="{{ repo_url }}">
    <i class="fa fa-github" aria-hidden="true"></i>
    {{ repo_tag }}
  </a>
  {% endif %}

  {% if page.forked_repo %}
  <p class="code">For reference, here is the code for this chapter</p>
  <a target="_blank" href="{{ page.forked_repo }}">
    <i class="fa fa-github" aria-hidden="true"></i>
    Source repository
  </a>
  {% endif %}

</div>
