<div class="social">
  <a class="button" href="{{ site.sst_github_repo }}">
    <i class="fa fa-github" aria-hidden="true"></i>
    <span>GitHub</span>
  </a>
  <a class="button" href="{{ site.slack_invite_url }}">
    <img src="/assets/lander/slack-mark-black.svg" />
    <span>Slack</span>
  </a>
  <a class="button" href="{{ site.twitter_url }}">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span>Twitter</span>
  </a>
  <a class="button" href="{{ site.forum_url }}">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <span>Forums</span>
  </a>
</div>

