{% if include.page_en_url %}
  {% assign current_page_en_url = include.page_en_url %}
{% else %}
  {% assign current_page_en_url = page.url %}
{% endif %}

<p class="step"><a href="/#{{ include.id }}">{{ include.items.title }}</a></p>
<ul class="steps">
{% for chapter in include.items.chapters %}
  <li>
  {% if chapter.subchapters %}
    {% if chapter.url == current_page_en_url %}
      <a class="active" href="{{ chapter.url }}">{{ chapter.page }}</a>
    {% else %}
      <a href="{{ chapter.url }}">{{ chapter.page }}</a>
    {% endif %}
    <ul>
    {% for subchapter in chapter.subchapters %}
      <li>
        {% if subchapter.url == current_page_en_url %}
          <a class="active" href="{{ subchapter.url }}">{{ subchapter.page }}</a>
        {% else %}
          <a href="{{ subchapter.url }}">{{ subchapter.page }}</a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    {% if chapter.url == current_page_en_url %}
      <a class="active" href="{{ chapter.url }}">{{ chapter.page }}</a>
    {% else %}
      <a href="{{ chapter.url }}">{{ chapter.page }}</a>
    {% endif %}
  {% endif %}
  </li>
{% endfor %}
</ul>
