{% if include.page_en_url %}
  {% assign current_page_en_url = include.page_en_url %}
{% else %}
  {% assign current_page_en_url = page.url %}
{% endif %}

<div id="{{ include.id }}" class="toc-section">
  <h3>{{ include.items.title }}</h3>
  <ul class="fa-ul">
  {% for chapter in include.items.chapters %}
    <li>
      {% if chapter.subchapters %}
        <a href="{{ chapter.url }}">{{ chapter.page }}</a>
        <ul class="fa-ul">
          {% for subchapter in chapter.subchapters %}
            <li>
              <i class="fa-li fa fa-asterisk"></i><a href="{{ subchapter.url }}">{{ subchapter.page }}</a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {% if chapter.url == current_page_en_url %}
          <i class="fa-li fa fa-asterisk"></i><span class="active">{{ chapter.page }}</a>
        {% else %}
          <i class="fa-li fa fa-asterisk"></i><a href="{{ chapter.url }}">{{ chapter.page }}</a>
        {% endif %}
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>

