<p><a href="/#{{ include.id }}">{{ include.items.title }}</a></p>
{% for chapter in include.items.chapters %}
  {% if chapter.url == page.url %}
    <ul>
      <li class="active">
        <a href="{{ chapter.url }}">{{ chapter.page }}</a>
      </li>
    </ul>
  {% else %}
    {% if chapter.subchapters %}
      {% for subchapter in chapter.subchapters %}
        {% if subchapter.url == page.url %}
          <ul>
            <li class="active">
              <a href="{{ subchapter.url }}">{{ subchapter.page }}</a>
            </li>
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}
{% endfor %}
