---
layout: default
title: Download the Serverless Stack Guide
description: Download the Serverless Stack Guide ebook for free. It's the most widely read resource for building full-stack serverless apps. Available in PDF and EPUB formats.
---

<div class="download-ebook-page">

  <div class="title">
    <p class="eyebrow">Join 30,000 other readers from the biggest companies in the world</p>
    <h2>Serverless Stack Guide</h2>
    <h4>
      The most widely read resource for building full-stack apps using serverless and React on AWS.
    </h4>
  </div>

  <div class="readers">
    {% include reader-logos.html %}
  </div>

  <div class="panels">

    <div class="features">
      <p>Our comprehensive tutorials include:</p>

      <ul class="feature-list">
        <li>Build a REST API backend with our <strong>serverless tutorial</strong></li>
        <li><strong>Easy to understand</strong> explanations for creating a single-page application with our <strong>React.js tutorial</strong></li>
        <li><strong>Over 120 chapters</strong> that take you all the way from creating your AWS account to deploying your app on your own domain</li>
        <li>Step-by-step instructions <strong>with high-quality screenshots</strong></li>
        <li><strong>Complete code samples</strong> hosted on GitHub for both the backend and frontend</li>
        <li>Kept <strong>up to date</strong> since 2017, thanks to contributions from the community</li>
        <li><strong>Forums</strong> on Discourse to answer your questions</li>
        <li>And it’s all <strong>free!</strong></li>
      </ul>
    </div>

    <div class="action">
      <div class="cover">
        <img src="/assets/resources/ebook/cover.png" />
        <img src="/assets/resources/ebook/cover.png" />
        <img src="/assets/resources/ebook/cover.png" />
      </div>

      <div class="cta">
        <h3>Download the FREE 1000 page ebook</h3>
        <p class="copy">Enter your email and we’ll send you this ebook as PDF and EPUB. And we’ll also send you updates when new versions are published!</p>
        <div class="controls">
          {% include email-octopus-form.html button_copy="Download" source="newsletter-form" %}
        </div>
      </div>
    </div>

  </div>

</div>
