article.post.example .post-content .page-desc {
  font-size: 18px;
  color: $secondary-text-color;
}

article.post.example section.examples-list {
  margin-bottom: 1.5 * $spacing-unit;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit;
  }

  .toc-section {
    & > h3 {
      font-size: 32px;
      font-weight: 700;
    }
    & > ul > li {
      font-size: 20px;
    }
    & > ul > li i.fa {
      top: 7px;
      opacity: 0.8;
      color: darken($brand-color, 15%);
    }
    & > ul > li span.active {
      color: $tertiary-text-color;
    }

    & > .toc-section {
      & > h3 {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  div.icon {
    $size: 48px;

    margin: 1.5 * $spacing-unit + 5px 0 10px;
    background-color: lighten($brand-color, 52%);
    position: relative;
    width: $size;
    height: $size;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 1px 11px -2px rgba(226, 113, 82, 0.55);
    background-image: linear-gradient(to left bottom, $important-color, #ca6083, #8f659b, #51658e, $brand-color);

    i.fa {
      line-height: $size;
      font-size: 22px;
      color: lighten($brand-color, 25%);
      color: white;
    }
    img.graphql {
      $icon-size: 28px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1 * $icon-size / 2;
      margin-left: -1 * $icon-size / 2;
      width: $icon-size;
      height: $icon-size;
    }
  }
}

article.post.example > div.other-examples {
  margin-top: 1.5 * $spacing-unit;

  h2 {
    padding: 1.5 * $spacing-unit 0;
    font-size: 24px;
    text-align: center;
    border: {
      width: 1px 0;
      style: solid;
      color: darken($background-color, 15%);
    }
  }
}
