/**
 * Hero
 */

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-1 * $reader-logo-width * 28); }
}

%toc-expanded {
  max-height: none;
  overflow: visible;

  .expand {
    display: none;
  }
}

%gradient-text {
  color: $background-color;
  background-color: $background-color;
  background-image: linear-gradient(
    -149.11deg,
    transparentize($important-color, 0.25),
    transparentize($important-color, 1)
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

%code-editor {
  background-color: darken($brand-color, 20%);
  border-radius: 8px;
  box-shadow:
    0 0px 2px   rgba(22, 35, 40, 0.11),
    0 0px 4px   rgba(22, 35, 40, 0.11),
    0 0px 8px   rgba(22, 35, 40, 0.17),
    0 4px 16px  rgba(22, 35, 40, 0.17),
    0 12px 32px rgba(22, 35, 40, 0.17),
    0 28px 64px rgba(22, 35, 40, 0.17);

  @include media-query($on-palm) {
    box-shadow:
      0 0px 2px   rgba(22, 35, 40, 0.11),
      0 0px 4px   rgba(22, 35, 40, 0.11),
      0 0px 8px   rgba(22, 35, 40, 0.17),
      0 4px 16px  rgba(22, 35, 40, 0.17),
      0 12px 32px rgba(22, 35, 40, 0.17);
  }

  .navbar {
    $button-size: 13px;
    $button-margin: 8px;
    $controls-width: 3 * $button-size + 2 * $button-margin;

    @include media-query($on-palm) {
      $button-size: 9px;
      $button-margin: 4px;
      $controls-width: 3 * $button-size + 2 * $button-margin;

      padding: 9px 9px + 5px + $controls-width 0 calc($spacing-unit / 2);
    }

    padding: calc($spacing-unit / 2) calc($spacing-unit / 2 + 5px + $controls-width) 0 calc($spacing-unit / 2 + 5px);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .controls {

      flex: 0 0 $controls-width;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .button {
        margin-right: $button-margin;
        width: $button-size;
        height: $button-size;
        border-radius: 50%;

        &:last-child { margin-right: 0; }

        &:nth-child(1) { background-color: #FC605B; }
        &:nth-child(2) { background-color: #FDBC40; }
        &:nth-child(3) { background-color: #33C748; }
      }
    }
    .title {
      flex: 1 1 auto;
      text-align: center;
      font-family: $code-font-family;
      color: rgba(255, 255, 255, 0.5);

      @include media-query($on-palm) {
        font-size: 13px;
      }
    }
  }

  .code-block {
    margin: 0 $spacing-unit - 10px 0;
    padding: calc($spacing-unit / 2 + 3px) 0 $spacing-unit - 10px;

    color: white;
    font-size: 18px;
    overflow-x: auto;
    font-family: $code-font-family;

    @include media-query($on-palm) {
      font-size: 12px;
      margin: 0 calc($spacing-unit / 2);
      padding: calc($spacing-unit / 4) 0 calc($spacing-unit / 2);
    }

    .token-line {
      position: relative;
      white-space: nowrap;
      padding-left: $spacing-unit - 5px;

      @include media-query($on-palm) {
        padding-left: 18px;
      }

      color: rgb(191, 199, 213);

      .italics { font-style: italic; }
      .dim { color: rgb(114, 124, 134); }
      .plain { color: rgb(232, 235, 240); }
      .string { color: rgb(195, 232, 141); }
      .option { color: rgb(130, 170, 255); }
      .keyword { color: rgb(255, 203, 107); }
      .operator { color: rgb(137, 221, 255); }

      .lead {
        top: 0;
        left: 0;
        opacity: 0.6;
        text-align: right;
        position: absolute;
        display: inline-block;
        color: rgb(114, 124, 134);
      }

      i.fa-check {
        font-size: 14px;
      }
    }

    &.long .token-line {
      padding-left: $spacing-unit + 10px;

      .lead {
        min-width: 24px;
      }
    }
  }
}

%code-editor-small {
  .navbar {
    $button-size: 11px;
    $button-margin: 6px;
    $controls-width: 3 * $button-size + 2 * $button-margin;

    padding: 13px 13px + 5px + $controls-width 0 calc($spacing-unit / 2 + 3px);

    @include media-query($on-palm) {
      $button-size: 9px;
      $button-margin: 4px;
      $controls-width: 3 * $button-size + 2 * $button-margin;

      padding: 9px 9px + 5px + $controls-width 0 calc($spacing-unit / 2);
    }

    .controls {
      flex: 0 0 $controls-width;
      .button {
        margin-right: $button-margin;
        width: $button-size;
        height: $button-size;

        &:last-child { margin-right: 0; }
      }
    }
    .title {
      font-size: 13px;
    }
  }
  .code-block {
    margin: 0 $spacing-unit - 12px;
    padding: calc($spacing-unit / 2 - 8px) 0 $spacing-unit - 14px;
    font-size: 14px;

    @include media-query($on-palm) {
      font-size: 12px;
      margin: 0 calc($spacing-unit / 2);
      padding: calc($spacing-unit / 4) 0 calc($spacing-unit / 2);
    }

    .token-line {
      padding-left: $spacing-unit - 10px;

      @include media-query($on-palm) {
        padding-left: 18px;
      }
    }
  }
}

%timeline {
  text-align: center;
  position: relative;

  div {
    display: inline-block;
    border-left: 1px dashed $brand-color; 
    width: 1px;
    box-sizing: border-box;
    height: 100%;
  }
}

%timeline-point {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 2px dotted $important-color;
  border-radius: 50%;
}

.home .lander-header {
  $video-width: 560px;
  $video-padding: 2 * $spacing-unit;
  $padding-left: $spacing-unit;

  position: relative;

  @include media-query($on-laptop) {
    padding: $spacing-unit 0 0;
  }

  @include media-query($on-palm) {
    padding-top: $spacing-unit - 5px;
  }

  .header-wrapper {
    margin: 0 auto;
    padding: 2.5 * $spacing-unit $spacing-unit 3 * $spacing-unit;
    text-align: center;
    overflow: hidden;

    @include media-query($on-laptop) {
      padding: 0 calc($spacing-unit / 2) 1.5 * $spacing-unit;
    }
    @include media-query($on-palm) {
      overflow: visible;
      padding-bottom: $spacing-unit;
    }
  }

  .site-announcement {
    margin: 0 auto calc($spacing-unit / 2 + 5px);
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    @include media-query($on-palm) {
      margin-bottom: $spacing-unit + 10px;
    }

    .new {
      margin-right: 10px;
      flex: 0 0 auto;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $important-color;
      background-color: lighten($important-color, 25%);
      padding: 3px 5px;
      line-height: 1;
      border-radius: 3px;
      font-size: 11px;
    }
    .copy {
      margin-right: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: normal;
    }
    i.fa {
      margin-top: 1px;
      font-size: 14px;
    }
  }

  .site-description {
    display: inline-block;
    position: relative;

    h1 {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-weight: 900;
      line-height: 105%;
      max-width: 1036px;
      font-size: 90px;
      color: $text-color;
      font-family: $base-font-family;

      @include media-query($on-laptop) {
        font-size: 72px;
      }

      @include media-query($on-palm) {
        font-size: 42px;
      }
    }

    img {
      @include media-query($on-monitor) { display: none; }
      @include media-query($on-palm) { display: block; }
    }

    img:nth-child(2) {
      position: absolute;
      left: 28px;
      bottom: -32px;

      @include media-query(1175px) { left: -39px; }

      @include media-query($on-palm) {
        width: 35px;
        bottom: -12px;
        left: 1px;
      }
    }

    img:nth-child(3) {
      position: absolute;
      right: -14px;
      top: -26px;

      @include media-query(1175px) { right: -31px; }

      @include media-query($on-palm) {
        width: 35px;
        top: -12px;
        right: -8px;
        bottom: unset;
      }
    }
  }

  .site-description-full {
    margin: calc($spacing-unit / 2 + 5px) auto 0;
    max-width: 600px;
    line-height: 1.7;
    font-size: 28px;
    color: $secondary-text-color;
    font-family: $base-font-family;

    a {
      font-weight: 700;
      color: $secondary-text-color;
    }

    @include media-query($on-palm) {
      margin-top: $spacing-unit * 2;
      font-size: 16px;
    }
    @include media-query($on-palm) {
      margin-top: calc($spacing-unit / 2);
    }
  }

  .site-command {
    padding-top: calc($spacing-unit / 2);
    font-family: $code-font-family;
    font-size: 20px;

    @include media-query($on-palm) {
      padding-top: 5px;
      font-size: 14px;
    }

    a {
      padding-left: $spacing-unit - 2px;
      color: $tertiary-text-color;
      cursor: pointer;

      @include media-query($on-palm) {
        padding-left: $spacing-unit - 10px;

        span.icon {
          vertical-align: 1px;
        }
      }

      span.icon {
        visibility: hidden;
        vertical-align: 2px;
      }

      &:hover {
        span.icon {
          visibility: visible;
        }
      }

      &.copied {
        i.fa:first-child {
          display: none;
        }
        i.fa:last-child {
          display: inline;
        }
      }
    }

    i.fa {
      font-size: 13px;

      @include media-query($on-palm) {
        font-size: 10px;
      }

      &:last-child {
        display: none;
      }
    }
  }

  .controls {
    margin-top: $spacing-unit * 1.5;
    text-align: center;

    @include media-query($on-palm) {
      margin-top: calc($spacing-unit / 2 + 3px);
      display: block;
    }

    a.sst-button {
      padding: {
        left: 2 * $spacing-unit;
        right: 2 * $spacing-unit;
      }

      @include media-query($on-palm) {
        font-size: 16px;
        line-height: 18px;
        padding: 17px 40px 16px;
      }

      &:first-child {
        padding: {
          left: $spacing-unit + 10px;
          right: $spacing-unit + 10px;
        }

        @include media-query($on-palm) {
          font-size: 15px;
        }

        i.fa {
          margin-right: 8px;
          font-size: 20px;
          opacity: 0.25;
          line-height: 0;
          vertical-align: -1px;

          @include media-query($on-palm) {
            margin-right: 5px;
            font-size: 13px;
            vertical-align: 0;
          }
        }

        &.copied {
          i.fa {
            &:nth-last-child(2) {
              display: none;
            }
            &:last-child {
              display: inline;
            }
          }
        }
      }

      @include media-query($on-palm) {
        margin: 0;
        width: 100%;
        padding: {
          left: 16px;
          right: 16px;
        }
      }

      &:last-child {
        margin-left: $spacing-unit;

        @include media-query($on-palm) {
          margin-top: calc($spacing-unit / 2 + 3px);
          margin-left: 0;
        }
      }
    }

  }

  .video-wrapper {
    position: relative;
    width: $video-width;
    height: 315px;

    @include media-query($on-laptop) {
      margin: 0 auto;
    }

    @include media-query($on-palm) {
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      width: 100%;
      height: 0;

      .coaster {
        display: none;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 1px 2px rgba(0,0,0,0.09),
              0 2px 4px rgba(0,0,0,0.07),
              0 3px 6px rgba(0,0,0,0.05);
    }

    .coaster {
      position: absolute;
      left: -29px;
      top: 3px;
      z-index: 0;
      width: 110%;
      height: 109%;
      border-radius: 20px;
      transform: rotate(-3deg) scale(1, 1) skew(0deg, -1deg);
      background-image: linear-gradient(to top left, rgba(57, 92, 107, 0.09), rgba(57, 92, 107, 0.03));
    }
  }
}

.home > .logos {
  margin: 0 auto;

  &:before {
    margin: 0 $spacing-unit $spacing-unit * 1.5 + 10px;
    @extend %bottom-border;

    @include media-query($on-palm) {
      display: none;
    }
  }

  &:after {
    margin: $spacing-unit * 2 + 2px $spacing-unit;
    @extend %bottom-border;

    @include media-query($on-palm) {
      margin: $spacing-unit - 10px 0 0;
    }
  }

  h5 {
    margin: 0 0 1.5 * $spacing-unit + 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: $base-font-family;
    font-weight: 600;
    font-size: 22px;
    color: transparentize($tertiary-text-color, 0.2);
    text-align: center;

    @include media-query($on-palm) {
      margin-bottom: 15px;
      font-size: 15px;
    }
  }

  ul {
    $width: 120px;
    $height: 44px;

    $m_width: 50px;
    $m_height: 24px;

    margin: 0;
    list-style-type: none;
    text-align: center;

    li {
      margin: 8px $spacing-unit + 5px;
      display: inline-block;

      @include media-query($on-palm) {
        margin: 8px 10px;
      }

      svg {
        color: $tertiary-text-color;
        width: $width;
        height: auto;

        @include media-query($on-palm) {
          width: $m_width;
        }
      }

      &.ad svg {
        width: $width + 10px;

        @include media-query($on-palm) {
          width: $m_width + 10px;
        }
      }
      &.shell svg {
        width: auto;
        height: $height;

        @include media-query($on-palm) {
          width: auto;
          height: $m_height - 4px;
        }
      }
      &.comcast svg {
        width: $width + 5px;

        @include media-query($on-palm) {
          width: $m_width + 5px;
        }
      }
      &.hbo svg {
        width: auto;
        height: $height - 11px;

        @include media-query($on-palm) {
          width: auto;
          height: $m_height - 11px;
        }
      }
    }
  }
}

.home > .sections {
  text-align: center;
  padding: calc($spacing-unit / 2) $spacing-unit 0;
  overflow: hidden;

  @include media-query($on-palm) {
    padding: 0;
  }

  &:after {
    @include media-query($on-palm) {
      margin-top: calc($spacing-unit / 2);
      border: none;
    }
  }

  &.frontend {
    padding-top: 1 * $spacing-unit;
  }

  & > .title {
    display: inline-block;
    position: relative;

    @include media-query($on-palm) {
      padding: 0 calc($spacing-unit / 2);
    }

    h2 {
      margin-bottom: 5px;
      display: inline-block;
      line-height: 1.2;
      font-size: 54px;
      font-weight: 900;
      font-family: $base-font-family;
      color: $important-color;

      span {
        color: $text-color;
      }

      @include media-query($on-palm) {
        margin-bottom: 10px;
        font-size: 38px;
        line-height: 40px;
      }
    }
    p {
      margin-bottom: 0;
      color: $secondary-text-color;
      line-height: 1.5;
      display: inline-block;

      @include media-query($on-palm) {
      }

      a.more {
        display: inline-block;

        i.fa {
          margin-left: 1px;
          vertical-align: -1px;
        }
      }
    }

    img {
      position: absolute;

      @include media-query($on-laptop) {
        display: none;
      }
    }
  }

  & > .content {
    text-align: left;
  }
}

.home > .frontend > .title > img {
  bottom: 0;
  right: -46px;
}

.home > .frontend > .content {
  $size: 64px;
  $marginX: 0.5 * $spacing-unit;
  $marginY: 0.5 * $spacing-unit;

  $m_size: 36px;
  $m_marginX: 10px;
  $m_marginY: 10px;

  margin-top: 1.5 * $spacing-unit;
  display: inline-block;
  padding: $spacing-unit;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: transparentize($color: $background-color, $amount: 0.4);

  @include media-query($on-palm) {
    margin-top: $spacing-unit;
    width: 100%;
    border-radius: 0;
    padding: $spacing-unit - 10px;
  }

  .controls {
    text-align: center;
  }

  .logos {
    display: inline-flex;
    position: relative;

    img {
      margin: $marginY $marginX;
      width: $size;
      height: $size;
      display: block;
      box-sizing: border-box;
      cursor: pointer;

      @include media-query($on-palm) {
        margin: $m_marginY $m_marginX;
        width: $m_size;
        height: $m_size;
      }

      .active {
        cursor: default;
      }
    }
    .highlight {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 10px;
      width: $size + $marginX * 2;
      height: $size + $marginY * 2;
      background-color: transparentize($color: $brand-color, $amount: 0.9);
      transition: all .2s ease-out;
      pointer-events: none;
      z-index: 0;

      @include media-query($on-palm) {
        width: $m_size + $m_marginX * 2;
        height: $m_size + $m_marginY * 2;
      }
    }
  }

  .code-editor {
    margin: $spacing-unit - 5px auto 0;
    width: 500px;
    @extend %code-editor;

    @include media-query($on-palm) {
      margin-top: calc($spacing-unit / 2 - 2px);
      width: auto;
    }
  }
}

.home > .frontend > .timeline {
  margin: calc($spacing-unit / 2) auto 0;
  height: 200px;
  @extend %timeline;

  @include media-query($on-palm) {
    height: 75px;
  }
}

.home > .backend > .title > img {
  top: -3px;
  left: -95px;
}

.home > .collaborate > .title > img {
  top: -15px;
  right: -39px;
}

.home > .backend > .timeline,
.home > .collaborate > .timeline {
  margin: 0 auto;
  height: 50px;
  @extend %timeline;

  &:nth-child(2) {
    margin-top: 20px;
  }
  &:last-child {
    height: 100px;
  }

  @include media-query($on-laptop) {
    &:nth-child(2) {
      display: none;
    }
    &:last-child {
      height: 40px;
      visibility: hidden;
    }
  }
  @include media-query($on-palm) {
    &:nth-child(2) {
      margin-top: calc($spacing-unit / 2);
      display: block;
    }
    &:last-child {
      margin-top: calc($spacing-unit / 2);
      height: $spacing-unit * 2.5;
      visibility: visible;
    }
  }
}

.home > .backend > .content,
.home > .collaborate > .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @include media-query($on-palm) {
    flex-direction: column;
    padding: 0 calc($spacing-unit / 2);
  }

  .code-editor {
    flex: 1 0 0%;
    margin: $spacing-unit * 1.5 0;
    @extend %code-editor;

    &.small {
      @extend %code-editor-small;
    }
    @include media-query($on-palm) {
      order: 2;
      margin-top: calc($spacing-unit / 2 - 3px);
      margin-bottom: 0;
    }
  }

  .spine {
    flex: 0 0 4 * $spacing-unit;
    margin: 0;
    width: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;

    @include media-query($on-laptop) {
      flex: 0 0 calc($spacing-unit / 2 + 10px);

      .timeline {
        display: none;
      }
      .point {
        visibility: hidden;
      }
    }
    @include media-query($on-palm) {
      display: none;
    }

    .timeline {
      flex: 1 1 100%;
      @extend %timeline;
    }
    .point {
      margin: 10px auto;
      flex: 0 0 auto;
      @extend %timeline-point;
    }
  }

  .copy {
    flex: 1 0 0%;
    padding-top: 3px;

    @include media-query($on-palm) {
      padding: 0;
      margin-top: $spacing-unit - 5px;
    }

    figure {
      margin-bottom: 4px;
      width: 32px;
      height: 32px;
      line-height: 1;
      border-radius: 5px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      font-size: 15px;
      border: 1px solid rgba(57, 92, 107, 0.3);

      @include media-query($on-palm) {
        margin: 4px 8px 0 0;
        width: 24px;
        height: 24px;
        font-size: 12px;
        float: left;
      }

      i.fa,
      svg {
        color: rgba(57, 92, 107, 0.7);
      }
      svg {
        width: 20px;
        height: auto;

        @include media-query($on-palm) {
          width: 14px;
        }
      }
    }
    h3 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
      font-family: $base-font-family;

      /** For mobile **/
      @extend %clearfix;

      @include media-query($on-palm) {
        font-size: 20px;
      }
    }
    p {
      margin: 0;
      color: $secondary-text-color;

      @include media-query($on-palm) {
        margin-top: 3px;
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
  &.apis .copy,
  &.deploy .copy {
    @include media-query($on-palm) {
      margin-top: calc($spacing-unit / 2);
    }
  }

  .copy, .code-editor {
    max-width: 430px;
  }
  .preview-deploys {
    flex: 1 0 0%;
    min-width: 378px;
    max-width: 430px;

    @include media-query($on-palm) {
      order: 2;
      margin-top: calc($spacing-unit / 2 - 3px);
      margin-bottom: 0;
      min-width: 0;
      width: 100%;
    }
  }

  &.apis {
    .copy, .code-editor { max-width: 360px; }
  }
  &.databases {
    .copy, .code-editor { max-width: 360px; }
  }
  &.auth {
    .copy, .code-editor { max-width: 360px; }
  }
  &.cron {
    .copy, .code-editor { max-width: 340px; }
  }

  @include media-query($on-palm) {
    .copy, .code-editor,
    &.auth > .copy, &.auth > .code-editor,
    &.cron > .copy, &.cron > .code-editor,
    &.databases > .copy, &.databases > .code-editor {
      width: 100%;
      max-width: 100%;
    }
  }
}

.home > .backend > .content {

  &:nth-child(even) {
    .copy {
      text-align: right;

      @include media-query($on-palm) {
        text-align: left;
      }
    }
  }

}

.home > .collaborate > .content .preview-deploys {
  $padding-x: 13px;
  $padding-y: 7px;

  margin: $spacing-unit * 1.5 0;
  list-style-type: none;
  position: relative;

  @include media-query($on-palm) {
    $padding-x: 10px;
    $padding-y: 5px;

    margin-top: calc($spacing-unit / 2 - 3px);
    margin-bottom: 0;
  }

  li {
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(57, 92, 107,0.04), 
                0 2px 4px rgba(57, 92, 107,0.04), 
                0 4px 8px rgba(57, 92, 107,0.04), 
                0 8px 16px rgba(57, 92, 107,0.04),
                0 16px 32px rgba(57, 92, 107,0.04), 
                0 32px 64px rgba(57, 92, 107,0.04);

    &:nth-child(1) {
      z-index: 3;
    }
    &:nth-child(2) {
      margin-top: 6px;
      z-index: 2;
      opacity: 0.7;
      transform: scale(0.93);
    }
    &:nth-child(3) {
      margin-top: -1px;
      z-index: 1;
      opacity: 0.35;
      transform: scale(0.85);
    }
  }

  h6 {
    margin: 0;
    padding: $padding-y $padding-x;
    font-size: 15px;
    font-family: $base-font-family;
    border-bottom: 1px solid transparentize(darken($brand-color, 15%), 0.85);

    @include media-query($on-palm) {
      font-size: 13px;
    }
  }
  section {
    display: flex;
    padding: $padding-y $padding-x + 6px $padding-y + 4px $padding-x;
    align-items: flex-start;
    box-sizing: border-box;

    @include media-query($on-palm) {
      padding: $padding-y $padding-x + 6px $padding-y + 4px $padding-x;
    }

    & > i.fa {
      flex: 0 1 auto;
      margin-top: 5px;
      margin-right: $padding-x - 3px;
      font-size: 20px;
      color: lighten($brand-color, 20%);

      @include media-query($on-palm) {
        margin-right: 6px;
        font-size: 18px;
      }
    }
    .content {
      flex: 1 1 auto;
      p {
        margin: 2px 0 0;
        font-size: 14px;

        @include media-query($on-palm) {
          font-size: 12px;
        }
      }
      .details {
        margin-top: 3px;
        font-size: 14px;

        @include media-query($on-palm) {
          margin-top: 1px;
          font-size: 12px;
        }

        .branch {
          color: $tertiary-text-color;

          span {
            margin-left: 2px;
          }
        }
        i.fa {
          font-size: 12px;
          vertical-align: -1px;
          color: $tertiary-text-color;

          @include media-query($on-palm) {
            font-size: 10px;
          }
        }
        .separator {
          margin: 0 6px;
          font-size: 8px;
          opacity: 0.3;
          vertical-align: 1px;
        }
        .commit {
          font-family: $code-font-family;
          font-size: 12px;
          color: $secondary-text-color;
        }
      }
    }
    & > .status {
      flex: 0 1 auto;
      align-self: center;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: lighten($brand-color, 20%);
      color: white;
      padding: 3px 7px;
      border-radius: 4px;

      @include media-query($on-palm) {
        font-size: 9px;
        padding: 3px 7px;
      }
    }
  }
}

.home > .learn-more {
  margin-top: calc($spacing-unit / 2);
  text-align: center;

  @include media-query($on-laptop) {
    margin-top: 0;
  }

  a {
    font-size: 24px;
    padding: 32px 70px;

    @include media-query($on-palm) {
      width: 100%;
      font-size: 16px;
      line-height: 18px;
      padding: 17px 40px 16px;
    }
  }

  &:after {
    margin: $spacing-unit * 2.5 $spacing-unit 0;
    @extend %bottom-border;

    @include media-query($on-palm) {
      margin: 0;
      border: none;
    }
  }
}

.home > .community {
  margin: 2.5 * $spacing-unit auto 0;
  padding: 0 $spacing-unit;

  @include media-query($on-palm) {
    margin-top: $spacing-unit;
    padding: 0 calc($spacing-unit / 2);
  }

  &:after {
    @extend %bottom-border;
    margin-top: 2.5 * $spacing-unit - 10px;

    @include media-query($on-palm) {
      margin-top: 2 * $spacing-unit - 5px;
      border: none;
    }
  }

  & > .content {
    padding: 2 * $spacing-unit;
    background-color: $text-color;
    border-radius: 16px;
    box-shadow: 6px 9px 25px rgba(57, 92, 107, 0.3),
                0px 4px 12px rgba(57, 92, 107, 0.4);

    @include media-query($on-palm) {
      padding: $spacing-unit - 2px $spacing-unit - 10px;
    }
  }

  h4 {
    margin-bottom: 1.5 * $spacing-unit;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
    color: $background-color;
    font-family: $base-font-family;
    text-align: center;

    @include media-query($on-monitor) {
      font-size: 38px;
      line-height: 39px;
    }

    @include media-query($on-laptop) {
      margin-bottom: calc($spacing-unit / 2);
    }

    span {
      color: $important-color;
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-query($on-laptop) {
      display: block;
    }

    li {
      padding: 0 calc($spacing-unit / 2 + 5px);
      border-right: 1px dashed $background-color;
      text-align: center;
      width: 300px;

      @include media-query($on-laptop) {
        padding: $spacing-unit - 10px 0 $spacing-unit;
        border-right: none;
        border-bottom: 1px dashed $background-color;
        width: 100%;
      }

      &:last-child {
        border-right: none;

        @include media-query($on-laptop) {
          padding-bottom: calc($spacing-unit / 2);
          border-bottom: none;
        }
      }

      h6 {
        margin-bottom: 0;
        font-size: 100px;
        line-height: 1.5;
        font-family: $base-font-family;
        font-weight: 900;
        color: $background-color;

        @include media-query($on-monitor) {
          font-size: 70px;
        }
        @include media-query($on-laptop) {
          font-size: 90px;
        }
      }

      &:nth-child(2) {
        h6 {
          @extend %gradient-text;
        }
      }
      p {
        margin: 0;
        color: $background-color;
        line-height: 1.5;
      }
    }
  }
}

.home > .case-studies {
  margin: 2.5 * $spacing-unit auto 0;
  padding: 0 $spacing-unit;

  @include media-query($on-palm) {
    margin: $spacing-unit + 2px auto 0;
    padding: 0 calc($spacing-unit / 2);
  }

  & > .content {
    padding: 2 * $spacing-unit - 5px 2 * $spacing-unit 2 * $spacing-unit;
    background-color: $brand-color;
    border-radius: 16px;
    color: $background-color;

    @include media-query($on-palm) {
      padding: $spacing-unit - 5px $spacing-unit - 10px $spacing-unit - 10px;
    }
  }

  h3 {
    margin-bottom: $spacing-unit + 10px;
    line-height: 1.1;
    text-align: center;
    font-size: 56px;
    font-weight: 900;
    color: $background-color;

    @include media-query($on-palm) {
      margin-bottom: $spacing-unit - 8px;
      font-size: 38px;
    }
  }

  .slideshow-container {
    position: relative;

    .slideshow {
      overflow: hidden;
      border-radius: 16px;
      border: 1px dashed $background-color; 

      ul {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        display: flex;
      }
    }

    & > button {
      $size: 36px;
      $mSize: 24px;

      background-color: $brand-color;
      padding: 0;
      position: absolute;
      top: 50%;
      margin-top: - calc($size / 2);
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 1px dashed $background-color;
      box-shadow: 0px 6px 12px -2px #2E4752;
      cursor: pointer;

      @include media-query($on-palm) {
        margin-top: - calc($mSize / 2);
        width: $mSize;
        height: $mSize;
      }

      &:hover { background-color: #274D5E; }
      &:active { background-color: #1D3E4D; }

      @include media-query($on-palm) {
        &:after {
          $cSize: 50px;

          content: "";
          position: absolute;
          left: calc(-1 * ($cSize - $mSize ) / 2);
          top: calc(-1 * ($cSize - $mSize ) / 2);
          width: $cSize;
          height: $cSize;
        }
      }

      img {
        margin-top: -2px;

        @include media-query($on-palm) {
          margin-top: -5px;
          width: 6px;
        }
      }

      &.prev {
        left: calc(-1 * $size / 2);

        @include media-query($on-palm) {
          left: calc(-1 * $mSize / 2);
        }

        img {
          margin-left: -3px;

          @include media-query($on-palm) {
            margin-left: -2px;
          }
        }
      }
      &.next {
        right: calc(-1 * $size / 2);

        @include media-query($on-palm) {
          right: calc(-1 * $mSize / 2);
        }

        img {
          margin-right: -3px;
          transform: rotate(180deg);

          @include media-query($on-palm) {
            margin-right: -2px;
          }
        }
      }
    }
  }

  .case-study {
    flex: 1 0 auto;
    width: 100%;
    padding: 1.5 * $spacing-unit + 5px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

    @include media-query($on-palm) {
      padding: $spacing-unit + 6px $spacing-unit - 10px $spacing-unit - 8px;
    }
  }

  .author {
    display: inline-flex;
    align-items: center;

    img {
      border-radius: 50%;
      border: 3px solid $background-color;
      overflow: hidden;
      box-sizing: border-box;
      object-fit: cover;
      width: 81px;
      height: 81px;
    }

    .content {
      margin-left: 9px;
      text-align: left;

      @include media-query($on-palm) {
        margin-left: calc($spacing-unit / 2);
      }

      p {
        margin: 0;
        font-size: 18px;
        color: $background-color;
        line-height: 1.5;

        @include media-query($on-palm) {
          font-size: 16px;
          line-height: 26px;
        }

        a {
          color: $background-color;

          &:hover {
            color: $secondary-background-color;
          }
        }
      }
    }
  }

  h5 {
    @extend %gradient-text;
    margin: 1.5 * $spacing-unit - 5px 0 0;
    text-align: center;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.1;
    flex: 1 1 auto;

    @include media-query($on-laptop) {
      font-size: 40px;
    }

    @include media-query($on-palm) {
      margin-top: $spacing-unit - 5px;
      font-size: 26px;
      line-height: 30px;
    }
  }

  .logo {
    margin-top: 1.5 * $spacing-unit;

    @include media-query($on-palm) {
      margin-top: $spacing-unit - 10px;
    }
  }
  .sst-button {
    margin-top: calc($spacing-unit / 2 + 5px);
    box-shadow: none;
    padding: {
      left: 2.5 * $spacing-unit;
      right: 2.5 * $spacing-unit;
    }

    @include media-query($on-palm) {
      align-self: stretch;
      padding: {
        left: 36px;
        right: 36px;
      }
    }
  }
}

.home > .guide {
  padding: 2 * $spacing-unit $spacing-unit 0;

  @include media-query($on-laptop) {
    padding: 2 * $spacing-unit ($spacing-unit * 0.5) 0;
  }
  @include media-query($on-palm) {
    padding-top: 0;
  }

  .title {
    text-align: center;

    h2 {
      margin-bottom: 10px;
      line-height: 1.2;
      font-size: 56px;
      font-weight: 900;

      @include media-query($on-palm) {
        margin-bottom: $spacing-unit - 4px;
        font-size: 38px;
        line-height: 39px;
      }
    }
    p.update {
      color: $secondary-text-color;
      .new {
        margin-right: 5px;
        flex: 0 0 auto;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $important-color;
        background-color: lighten($important-color, 30%);
        padding: 3px 5px;
        line-height: 1;
        border-radius: 3px;
        font-size: 11px;
      }
    }
    h4 {
      margin-bottom: 0;
      font-family: $base-font-family;
      font-size: 16px;
      color: $secondary-text-color;
      line-height: 1.5;

      @include media-query($on-palm) {
        font-weight: 600;
      }
    }
  }

  & > .form-container {
    margin: $spacing-unit auto 0;
    position: relative;
    padding: $spacing-unit;
    background-color: $brand-color;
    border-radius: 16px;
    border: 1px dashed $background-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 775px;

    @include media-query($on-palm) {
      padding: $spacing-unit $spacing-unit - 10px $spacing-unit;
      display: block;
    }

    div.form-copy {
      margin-right: $spacing-unit + 5px;
      color: $background-color;

      @include media-query($on-palm) {
        margin-right: 0;
        margin-bottom: $spacing-unit - 10px;
        text-align: center;
      }

      p:first-child {
        margin-bottom: 6px;
        font-size: 16px;
        font-weight: 700;
      }
      p:last-child {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        opacity: 0.7;
      }
    }

    img.sparkle-left {
      position: absolute;
      left: -43px;
      top: -83px;

      @include media-query($on-monitor) { display: none; }

      @include media-query($on-palm) {
        display: block;
        transform: rotate(43deg);
        left: -7px;
        top: -26px;
        height: 32px;
      }
    }
    img.sparkle-right {
      position: absolute;
      right: -43px;
      top: -79px;

      @include media-query($on-monitor) { display: none; }

      @include media-query($on-palm) {
        display: block;
        transform: rotate(-34deg);
        right: -7px;
        top: -26px;
        height: 32px;
      }
    }
  }

  @include emailoctopus-embed;

  #emailoctopus-embed-container {
    flex: 0 0 auto;

    .emailoctopus-form-wrapper {
      margin-top: 0 !important;
    }
    .emailoctopus-form-row {
      margin-bottom: 0 !important;
    }
    .main-form {
      flex-grow: 1;
      flex-wrap: nowrap;
      gap: calc($spacing-unit * 0.5);

      @include media-query($on-palm) {
        flex-wrap: wrap;
      }
    }
    input[type="submit"] {
      font-size: 16px;
      line-height: 18px;
      padding: 0 25px;
      height: 50px;
      text-transform: none;

      @include media-query($on-monitor) {
        width: 100%;
      }
    }
  }
}

/**
 * Updates
 */
.home .updates {
  margin: 0 auto;
  padding: 0 calc($spacing-unit * 0.5);
  display: flex;
  align-items: stretch;

  @include media-query($on-palm) {
    display: block;
  }

  .updates-desc {
    flex: 1 1 50%;
    margin: 0;
    padding: 4 * $spacing-unit + 7px calc($spacing-unit * 0.5) 0.5 * $spacing-unit + 5px 0;
    border-right: 1px solid darken($background-color, 35%);
    text-align: right;
    color: $tertiary-text-color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    box-sizing: border-box;

    @include media-query($on-palm) {
      padding: calc($spacing-unit / 2) 0;
      border: none;
      text-align: center;
    }
  }

  .section {
    flex: 1 1 50%;
    padding: 1.5 * $spacing-unit 0 0.5 * $spacing-unit + 5px $spacing-unit;
    box-sizing: border-box;

    @include media-query($on-palm) {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      font-size: 16px;
    }

    .icon {
      $size: 54px;
      margin-top: 7px;
      background-color: lighten($brand-color, 10%);
      border-radius: 50%;
      color: white;
      font-size: 28px;
      width: $size;
      height: $size;
      text-align: center;
      flex: 0 0 $size;

      i {
        line-height: $size;
      }

      @include media-query($on-palm) {
        display: none;
      }
    }

    .copy {
      margin-top: $spacing-unit * 0.5;

      @include media-query($on-palm) {
        margin: 0;
      }

      h6 {
        margin-bottom: 2px;
        font-family: $base-font-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;

        @include media-query($on-palm) {
          font-size: 20px;
        }
      }
      p {
        margin-bottom: 10px;
        color: $secondary-text-color;
      }
      & > a {
        font-size: 16px;
      }
    }
  }
}

/**
 * Table of Contents
 */
.home .table-of-contents {

  margin: 2 * $spacing-unit 0;

  @include media-query($on-palm) {
    margin: $spacing-unit * 0.5 0 2 * $spacing-unit - 5px;
  }

  .chapters {
    $max-height: 800px;

    padding-bottom: $spacing-unit;
    border-radius: 4px;
    border: 1px dashed $important-color;
    overflow: hidden;
    position: relative;
    max-height: $max-height;

    display: flex;
    flex-wrap: wrap;

    @include media-query($on-palm) {
      text-align: center;
    }

    @include media-query($on-laptop) {
      display: block;
      padding-bottom: 10px;
    }

    div.toc-section {
      flex: 1 1 50%;
      padding: $spacing-unit 0 0;

      @include media-query($on-laptop) {
        padding-top: $spacing-unit * 0.5;
      }

      @include media-query($on-palm) {
        padding-top: $spacing-unit;
      }

      h3 {
        margin: 0;
        padding: 0 $spacing-unit;
        font-family: $base-font-family;
        text-transform: uppercase;
        letter-spacing: 0.04rem;
        color: $secondary-text-color;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;

        @include media-query($on-laptop) {
          padding: 0 $spacing-unit - 10px;
        }

        &:after {
          margin-top: $spacing-unit * 0.5;
          content: "";
          display: block;
          border-top: 1px dashed $important-color;
        }
      }

      ul {
        li {
          padding: 4px 0;
          a {
            font-size: 16px;
            line-height: 1.5;
          }
        }
      }

      & > ul {
        margin: 0;
        padding: $spacing-unit * 0.5 - 3px $spacing-unit 0;

        @include media-query($on-laptop) {
          padding: $spacing-unit * 0.5 $spacing-unit * 0.5 0;
        }

        & > li {
          list-style-type: none;
        }
      }
      @include media-query($on-laptop) {
        ul {
          li {
            list-style-type: none;
          }
        }
      }
    }

    .expand {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      cursor: pointer;
      background: linear-gradient(
        180deg, transparentize($lander-background-color, 1) 0%,
        transparentize($lander-background-color, 0.214) 25%,
        transparentize($lander-background-color, 0) 98%
      );
      display: flex;
      justify-content: center;
      align-items: flex-end;

      span {
        padding: 13px 67px;
        margin-bottom: $spacing-unit;
        display: inline-block;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  & > .wrapper {
    display: flex;

    @include media-query($on-laptop) {
      display: block;
    }
  }
}
