/**
 * Hero
 */

$reader-logo-width: 123px;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(-1 * $reader-logo-width * 28); }
}

%toc-expanded {
  max-height: none;
  overflow: visible;

  .expand {
    display: none;
  }
}

%code-editor {
  background-color: darken($brand-color, 20%);
  border-radius: 8px;
  box-shadow:
    0 0px 2px   rgba(22, 35, 40, 0.11),
    0 0px 4px   rgba(22, 35, 40, 0.11),
    0 0px 8px   rgba(22, 35, 40, 0.17),
    0 4px 16px  rgba(22, 35, 40, 0.17),
    0 12px 32px rgba(22, 35, 40, 0.17),
    0 28px 64px rgba(22, 35, 40, 0.17);

  .navbar {
    $button-size: 13px;
    $button-margin: 8px;
    $controls-width: 3 * $button-size + 2 * $button-margin;

    padding: $spacing-unit / 2 $spacing-unit / 2 + 5px + $controls-width 0 $spacing-unit / 2 + 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .controls {

      flex: 0 0 $controls-width;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .button {
        margin-right: $button-margin;
        width: $button-size;
        height: $button-size;
        border-radius: 50%;

        &:last-child { margin-right: 0; }

        &:nth-child(1) { background-color: #FC605B; }
        &:nth-child(2) { background-color: #FDBC40; }
        &:nth-child(3) { background-color: #33C748; }
      }
    }
    .title {
      flex: 1 1 auto;
      text-align: center;
      font-family: $code-font-family;
      color: rgba(255, 255, 255, 0.5);
    }
  }

  .code-block {
    padding: $spacing-unit / 2 + 3px $spacing-unit - 10px $spacing-unit - 10px;
    color: white;
    font-size: 18px;
    overflow-x: auto;
    font-family: $code-font-family;

    .token-line {
      position: relative;
      white-space: nowrap;
      padding-left: $spacing-unit - 5px;

      color: rgb(191, 199, 213);

      .italics { font-style: italic; }
      .dim { color: rgb(114, 124, 134); }
      .plain { color: rgb(232, 235, 240); }
      .string { color: rgb(195, 232, 141); }
      .option { color: rgb(130, 170, 255); }
      .keyword { color: rgb(255, 203, 107); }
      .operator { color: rgb(137, 221, 255); }

      .lead {
        top: 0;
        left: 0;
        opacity: 0.6;
        text-align: right;
        position: absolute;
        display: inline-block;
        color: rgb(114, 124, 134);
      }
    }

    &.long .token-line {
      padding-left: $spacing-unit + 10px;

      .lead {
        min-width: 24px;
      }
    }
  }
}

.home .lander-header {
  $video-width: 560px;
  $video-padding: 2 * $spacing-unit;
  $padding-left: $spacing-unit;

  position: relative;
  padding: 2.5 * $spacing-unit 0 0;

  @include media-query($on-laptop) {
    padding: $spacing-unit 0 0;
  }

  .header-wrapper {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2.5 * $spacing-unit;
  }

  .site-announcement {
    margin: 0 auto $spacing-unit / 2 + 5px;
    max-width: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    @include media-query($on-palm) {
      margin-bottom: 10px;
    }

    .new {
      margin-right: 10px;
      flex: 0 0 auto;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $important-color;
      background-color: lighten($important-color, 30%);
      padding: 3px 5px;
      line-height: 1;
      border-radius: 3px;
      font-size: 11px;
    }
    .copy {
      margin-right: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.1;
    }
    i.fa {
      margin-top: 1px;
      font-size: 14px;
    }
  }

  .site-description {
    display: inline-block;
    position: relative;

    h1 {
      margin: 0;
      padding: 0;
      display: inline-block;
      font-weight: 900;
      line-height: 105%;
      max-width: 1000px;
      font-size: 90px;
      letter-spacing: -2px;
      color: $text-color;
      font-family: $base-font-family;

      @include media-query($on-palm) {
        font-size: 32px;
        letter-spacing: -1px;
      }
    }

    img:nth-child(2) {
      position: absolute;
      left: -59px;
      bottom: -32px;
    }

    img:nth-child(3) {
      position: absolute;
      right: -39px;
      bottom: 46px;
    }
  }

  .site-description-full {
    margin: $spacing-unit / 2 auto 0;
    max-width: 600px;
    line-height: 1.5;
    font-size: 20px;
    color: $text-color;
    font-family: $base-font-family;

    a {
      font-weight: 700;
      color: $secondary-text-color;
    }

    @include media-query($on-palm) {
      margin-top: 5px;
      font-size: 18px;
    }
  }

  .controls {
    margin-top: $spacing-unit;
    text-align: center;

    @include media-query($on-palm) {
      margin-top: 20px;
    }

    a.sst-button {
      padding: {
        left: 80px;
        right: 80px;
      }

      &:last-child {
        margin-left: $spacing-unit;
      }
    }

  }

  .video-wrapper {
    position: relative;
    width: $video-width;
    height: 315px;

    @include media-query($on-laptop) {
      margin: 0 auto;
    }

    @include media-query($on-palm) {
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      width: 100%;
      height: 0;

      .coaster {
        display: none;
      }
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 4px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 1px 2px rgba(0,0,0,0.09),
              0 2px 4px rgba(0,0,0,0.07),
              0 3px 6px rgba(0,0,0,0.05);
    }

    .coaster {
      position: absolute;
      left: -29px;
      top: 3px;
      z-index: 0;
      width: 110%;
      height: 109%;
      border-radius: 20px;
      transform: rotate(-3deg) scale(1, 1) skew(0deg, -1deg);
      background-image: linear-gradient(to top left, rgba(57, 92, 107, 0.09), rgba(57, 92, 107, 0.03));
    }
  }
}

.home > .features {
  padding: 0 $spacing-unit 1.5 * $spacing-unit + 5px;
  border-bottom: 1px dashed $brand-color;
  display: flex;
  align-items: stretch;
  justify-content: center;

  @include media-query($on-laptop) {
    display: block;
    padding: $spacing-unit $spacing-unit / 2 0;
  }
  @include media-query($on-palm) {
    padding: 0 $spacing-unit / 2 0;
  }

  .quick-start {
    @extend %code-editor;

    @include media-query($on-laptop) {
      margin: 0 auto;
      max-width: 480px;
    }
  }

  .list {
    margin-left: $spacing-unit;

    .columns {
      margin-top: $spacing-unit;
      display: flex;
      align-items: stretch;
    }

    @include media-query($on-laptop) {
      margin: 1.5 * $spacing-unit auto 0;
    }

    .feature {
      padding: $spacing-unit $spacing-unit + 5px;
      border-radius: 16px;
      border: 1px dashed $important-color;

      &.breakpoints {
        flex: 1 1.5 auto;
        margin-right: $spacing-unit / 2;
      }
      &.cdk {
        flex: 1 1 auto;
        margin-left: $spacing-unit / 2;
      }

      @include media-query($on-palm) {
        margin-bottom: $spacing-unit;
      }

      &:last-child {
        margin-bottom: 0;
      }

      hr {
        margin: 17px 0 13px;
        border-top: 1px dashed $important-color;
      }

      &.live { hr { max-width: 250px; } }
      &.breakpoints { hr { max-width: 235px; } }
      &.cdk { hr { max-width: 300px; } }

      .icon {
        $size: 42px;

        margin-bottom: 10px;
        width: $size;
        height: $size;
        border-radius: 50%;
        background-color: lighten($important-color, 30%);
        line-height: $size;
        text-align: center;

        i.fa {
          color: $important-color;
          &.fa-cubes {
            margin-left: 1px;
          }
        }
      }

      h4 {
        margin-bottom: 6px;
        font-weight: 700;
        line-height: 1.5;
        font-family: $base-font-family;
      }
      p {
        margin-bottom: 0;
        line-height: 1.5;
        color: $secondary-text-color;
      }
    }
  }
}

.home > .sections {
  text-align: center;
  padding: 2.5 * $spacing-unit + 5px $spacing-unit;
  border-bottom: 1px dashed $brand-color;

  @include media-query($on-palm) {
    padding-top: 0;
  }

  & > .title {
    display: inline-block;
    position: relative;
    margin-bottom: 1.5 * $spacing-unit;

    @include media-query($on-laptop) {
      margin-bottom: $spacing-unit;
      padding: 0 $spacing-unit / 2;
    }

    h2 {
      margin-bottom: 5px;
      display: inline-block;
      line-height: 1.2;
      font-size: 54px;
      font-weight: 900;
      font-family: $base-font-family;
      color: $important-color;

      span {
        color: $text-color;
      }

      @include media-query($on-palm) {
        font-size: 36px;
      }
    }
    p {
      margin-bottom: 0;
      color: $secondary-text-color;
      line-height: 1.5;
      display: inline-block;

      a.more {
        padding-top: 5px;
        display: inline-block;

        i.fa {
          margin-left: 1px;
          vertical-align: -1px;
        }
      }
    }
  }

  &.examples > .title {
    & > img {
      position: absolute;
      bottom: -28px;
      right: -58px;
    }
  }
  &.breakpoints > .title {
    margin-bottom: 110px;
      & > img {
      position: absolute;
      top: -20px;
      left: -49px;
    }
  }
  &.console > .title {
    & > img:nth-child(4) {
      position: absolute;
      top: 34px;
      left: -44px;
    }
    & > img:nth-child(5) {
      position: absolute;
      top: 34px;
      right: -44px;
    }
  }
  &.cdk > .title {
    & > img {
      position: absolute;
      top: -32px;
      right: -40px;
    }
  }

  & > .content {
    text-align: left;
  }
}

.home > .examples > .content {
  & > .controls {
    margin-bottom: 1.5 * $spacing-unit;
    position: relative;

    @include media-query($on-laptop) {
      margin-bottom: 1.5 * $spacing-unit;
    }
    @include media-query($on-laptop) {
      margin-bottom: $spacing-unit;
    }

    .list {
      overflow-x: auto;
      position: relative;
      text-align: center;
      white-space: nowrap;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .scroll-content {
      display: flex;
      overflow: hidden;
      justify-content: center;
    }
    .scroll-shadow {
      width: 20px;
      height: 100%;
      position: absolute;
      opacity: 1;
      top: 0;
      transition: opacity .15s linear;
      pointer-events: none;
    }
    .scroll-shadow.left {
      left: 0;
      background-image: linear-gradient(to left, transparentize($secondary-background-color, 1), transparentize($secondary-background-color, 0));
    }
    .scroll-shadow.right {
      right: 0;
      background-image: linear-gradient(to right, transparentize($secondary-background-color, 1), transparentize($secondary-background-color, 0));
    }

    button {
      $height: 34px;

      margin: 0;
      z-index: 1;
      border: none;
      height: $height;
      cursor: pointer;
      transition: .3s;
      font-size: 16px;
      font-weight: 600;
      appearance: none;
      background: none;
      line-height: 1.1;
      position: relative;
      white-space: nowrap;
      box-sizing: border-box;
      padding: 0 $height / 2;
      border-radius: $height / 2;
      color: $text-color;
      transition: all .2s ease-out;

      &:focus { outline: 0; }
      &:hover { color: $tertiary-text-color; }

      &.active { color: white; }

      &.highlight {
        top: 0;
        left: 0;
        z-index: 0;
        position: absolute;
        color: transparent;
        pointer-events: none;
        background-color: lighten($brand-color, 5%);
      }
    }
  }

  .example-list {
    display: flex;
    justify-content: center;

    @include media-query($on-laptop) {
      padding: 0 $spacing-unit / 2;
    }
    @include media-query($on-palm) {
      display: block;
    }
  }

  .example-list > .example {
    padding: 5px $spacing-unit 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
    border-radius: 28px;
    box-shadow: 6px 9px 25px rgba(57, 92, 107, 0.05),
                0px 4px 12px rgba(57, 92, 107, 0.1);

    @include media-query($on-laptop) {
      display: block;
    }

    .info {
      margin-right: $spacing-unit;
      max-width: 288px;

      @include media-query($on-laptop) {
        margin: 0 auto $spacing-unit - 5px;
        display: flex;
        max-width: 512px;
        align-items: center;
      }
      @include media-query($on-palm) {
        display: block;
      }

      .icon {
        $size: 48px;

        margin-bottom: 10px;
        position: relative;
        background-color: lighten($brand-color, 52%);
        width: $size;
        height: $size;
        border-radius: 6px;
        text-align: center;
        box-shadow: 0 1px 11px -2px rgba(226, 113, 82, 0.55);
        background-image: linear-gradient(to left bottom, $important-color, #ca6083, #8f659b, #51658e, $brand-color);

        i.fa {
          line-height: $size;
          font-size: 22px;
          color: lighten($brand-color, 25%);
          color: white;
        }
        img.react,
        img.nextjs,
        img.graphql {
          $icon-size: 28px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -1 * $icon-size / 2;
          margin-left: -1 * $icon-size / 2;
          width: $icon-size;
          height: $icon-size;
        }

        @include media-query($on-laptop) {
          display: none;
        }
      }

      h4 {
        margin-bottom: 3px;
        font-size: 20px;
        font-weight: 700;

        @include media-query($on-laptop) {
          display: none;
        }
      }

      p {
        margin-bottom: $spacing-unit / 2 + 5px;
        color: $secondary-text-color;

        @include media-query($on-laptop) {
          margin-bottom: 0;
          margin-right: $spacing-unit / 2;
        }
        @include media-query($on-palm) {
          margin-right: 0;
          margin-bottom: $spacing-unit / 2 - 5px;
        }
      }

      & > a {
        padding: 7px 10px 7px 13px;
        text-transform: uppercase;
        font-family: $base-font-family;
        font-weight: 700;
        letter-spacing: 1px;
        background-color: $important-color;
        border-radius: 4px;
        display: inline-block;
        color: white;
        font-size: 13px;
        white-space: nowrap;

        &:hover {
          background-color: lighten($important-color, 7%);
        }

        i.fa {
          font-weight: 700;
          margin-left: 2px;
        }
      }
    }
    .code-editor {
      position: relative;
      top: -20px;
      right: -10px;
      flex: 0 0 auto;
      @extend %code-editor;

      @include media-query($on-palm) {
        .code-block {
          font-size: 14px;
        }
      }
    }
  }
}

.home > .breakpoints > .content {
  text-align: center;

  .wrap {
    display: inline-block;
    position: relative;
  }

  .scribble {
    left: 159px;
    top: -67px;
    position: absolute;
  }
  .arrow {
    left: 539px;
    top: 207px;
    position: absolute;
  }
  .copy {
    right: -189px;
    top: 89px;
    position: absolute;
  }
  .magnified {
    left: 160px;
    top: -81px;
    position: absolute;
    filter: drop-shadow(0px 4px 10px rgba(254, 251, 249, 0.1)) drop-shadow(0px 4px 39px rgba(254, 251, 249, 0.2));
  }
  .screenshot {
    border-radius: 10px;
    box-shadow: 6px 9px 25px rgba(57, 92, 107, 0.4),
                0px 4px 12px rgba(57, 92, 107, 0.3);
  }
}

.home > .console > .content {
  text-align: center;

  .wrap {
    display: inline-block;
    position: relative;
  }

  .arrow-left {
    left: -43px;
    top: 220px;
    position: absolute;
  }
  .copy-left {
    left: -105px;
    top: 135px;
    position: absolute;
  }
  .arrow-right {
    right: -52px;
    bottom: 148px;
    position: absolute;
  }
  .copy-right {
    right: -111px;
    top: 123px;
    position: absolute;
  }
  .screenshot {
    border-radius: 10px;
    box-shadow: 6px 9px 25px rgba(57, 92, 107, 0.4),
                0px 4px 12px rgba(57, 92, 107, 0.3);
  }
}

.home > .cdk > .content {
  text-align: center;

  .wrap {
    display: inline-block;
    position: relative;
  }

  .arrow {
    left: -157px;
    top: 176px;
    position: absolute;
  }
  .copy {
    left: -116px;
    top: 122px;
    position: absolute;
  }
  .screenshot {
    border-radius: 10px;
    box-shadow: 6px 9px 25px rgba(57, 92, 107, 0.4),
                0px 4px 12px rgba(57, 92, 107, 0.3);
  }
}

.home > .case-studies {
  margin: 2.5 * $spacing-unit $spacing-unit 2.5 * $spacing-unit;
  background-color: $brand-color;
  padding: 2 * $spacing-unit - 5px 2 * $spacing-unit 2 * $spacing-unit;
  border-radius: 16px;
  color: $background-color;

  h3 {
    margin-bottom: $spacing-unit + 10px;
    line-height: 1.1;
    text-align: center;
    font-size: 56px;
    font-weight: 900;
    color: $background-color;
  }

  .case-study {
    padding: 1.5 * $spacing-unit + 5px;
    border: 1px dashed $background-color; 
    position: relative;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .author {
    display: inline-flex;
    align-items: center;

    img {
      border-radius: 50%;
      border: 3px solid $background-color;
      overflow: hidden;
      box-sizing: border-box;
      object-fit: cover;
      width: 81px;
      height: 81px;
    }

    .content {
      margin-left: 9px;
      text-align: left;

      p {
        margin: 0;
        font-size: 18px;
        color: $background-color;
        line-height: 1.5;

        a {
          color: $background-color;

          &:hover {
            color: $secondary-background-color;
          }
        }
      }
    }
  }

  h5 {
    margin: 1.5 * $spacing-unit - 5px 0 0;
    text-align: center;
    max-width: 530px;
    font-weight: 600;
    font-size: 54px;
    line-height: 1.1;
    color: white;
    background-color: white;
    background-image: linear-gradient(-149.11deg, transparentize($important-color, 0.25), transparentize($important-color, 1));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }

  .logo {
    margin-top: 1.5 * $spacing-unit;
  }
  .sst-button {
    margin-top: $spacing-unit / 2 + 5px;
    box-shadow: none;
    padding: {
      left: 2.5 * $spacing-unit;
      right: 2.5 * $spacing-unit;
    }
  }

  button {
    $size: 36px;

    background-color: $brand-color;
    padding: 0;
    position: absolute;
    top: 50%;
    margin-top: - $size / 2;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px dashed $background-color;
    box-shadow: 0px 6px 12px -2px #2E4752;
    cursor: pointer;

    &:hover { background-color: #274D5E; }
    &:active { background-color: #1D3E4D; }

    img {
      margin-top: -2px;
    }

    &.prev {
      left: - $size / 2;

      img {
        margin-left: -3px;
      }
    }
    &.next {
      right: - $size / 2;

      img {
        margin-right: -3px;
        transform: rotate(180deg);
      }
    }
  }
}

/**
 * Testimonials
 */
.home .testimonials {
  padding-top: 2 * $spacing-unit + 10px;
  margin: 0 auto;
  border-top: 1px dashed $brand-color;
  position: relative;
  max-width: $post-content-width;

  @include media-query($on-laptop) {
    margin-top: $spacing-unit;
  }

  .title {
    display: flex;
    justify-content: center;

    h2 {
      position: relative;
      text-align: center;
      font-size: 72px;
      font-weight: 900;
      font-family: $base-font-family;
      line-height: 1.05;
      color: $text-color;
      max-width: 850px;

      span {
        color: $important-color;
      }

      img {
        position: absolute;
        top: -28px;
        left: 15px;
      }
    }
  }

  .scroll-content {
    position: relative;
    overflow: hidden;

    .scroll-shadow {
      width: 1.5 * $spacing-unit;
      height: 100%;
      position: absolute;
      opacity: 1;
      top: 0;
      transition: opacity .15s linear;
      pointer-events: none;
    }
    .scroll-shadow.left {
      left: 0;
      background-image: linear-gradient(to left, transparentize($secondary-background-color, 1), transparentize($secondary-background-color, 0));
    }
    .scroll-shadow.right {
      right: 0;
      background-image: linear-gradient(to right, transparentize($secondary-background-color, 1), transparentize($secondary-background-color, 0));
    }
  }

  .tweets {
    padding: $spacing-unit 0 $spacing-unit;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: flex-start;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include media-query($on-laptop) {
      padding: $spacing-unit 0;
    }
  }

  .tweet {
    $color: #1DA1F2;

    margin-left: $spacing-unit;
    padding: $spacing-unit / 2;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px;
    box-shadow: 
      0 1px 1px 0 rgba(0, 0, 0, 0.03),
      0 1px 2px 0 rgba(0, 0, 0, 0.05),
      0 2px 4px 0 rgba(0, 0, 0, 0.05),
      0 4px 8px 0 rgba(0, 0, 0, 0.07);
    flex: 0 0 370px;
    position: relative;

    @include media-query($on-palm) {
      padding: 10px;
      margin-left: 10px;
      flex: 0 0 270px;
    }

    i.fa {
      position: absolute;
      top: 22px;
      right: 16px;
      color: #1DA1F2;
      font-size: 18px;

      @include media-query($on-palm) {
        top: 16px;
      }
    }

    .author {
      margin: 0 $spacing-unit $spacing-unit / 2 0;
      display: flex;
      align-items: center;

      @include media-query($on-palm) {
        margin-bottom: 10px;
      }

      img {
        $size: 40px;

        @include media-query($on-palm) {
          $size: 32px;
        }

        margin-right: 7px;
        width: $size;
        height: $size;
        border-radius: 50%;
        overflow: hidden;
      }

      p:first-child {
        margin-bottom: 4px;
        font-weight: bold;
        white-space: nowrap;
        line-height: 1.1;
        font-size: 15px;

        @include media-query($on-palm) {
          font-size: 13px;
        }
      }
      p:last-child {
        margin-bottom: 0;
        line-height: 1.1;
        color: $tertiary-text-color;
        white-space: nowrap;
        font-size: 14px;

        @include media-query($on-palm) {
          font-size: 12px;
        }
      }
    }

    .content {
      font-size: 18px;

      @include media-query($on-palm) {
        font-size: 13px;
      }
      a {
        position: relative;
        z-index: 1;
        color: $color;

        &:hover {
          color: darken($color, 20%);
        }
      }
      p {
        margin-bottom: 5px;
      }
    }

    a.tweet-link {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      position: absolute;
      z-index: 0;
    }
  }
  .spacer {
    height: 100px;
    flex: 0 0 $spacing-unit;
  }

  .controls {
    text-align: center;

    a.sst-button {
      padding: {
        left: 80px;
        right: 80px;
      }

      &:last-child {
        margin-left: $spacing-unit;
      }
    }

  }
}

.home > .community {
  margin: 3.5 * $spacing-unit $spacing-unit 0;
  padding: 2 * $spacing-unit;
  background-color: $text-color;
  border-radius: 16px;
  box-shadow: 6px 9px 25px rgba(57, 92, 107, 0.3),
              0px 4px 12px rgba(57, 92, 107, 0.4);

  h4 {
    margin-bottom: 1.5 * $spacing-unit;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2;
    color: $background-color;
    font-family: $base-font-family;
    text-align: center;

    span {
      color: $important-color;
    }
  }

  ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      padding: 0 $spacing-unit / 2 + 5px;
      border-right: 1px dashed $background-color;
      text-align: center;
      width: 300px;

      &:last-child {
        border-right: none;
      }

      h6 {
        margin-bottom: 0;
        font-size: 90px;
        line-height: 1.5;
        font-family: $base-font-family;
        font-weight: 900;
        color: $background-color;
      }

      &:nth-child(2) {
        h6 {
          color: white;
          background-color: white;
          background-image: linear-gradient(-149.11deg, transparentize($important-color, 0.25), transparentize($important-color, 1));
          background-size: 100%;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent; 
          -moz-text-fill-color: transparent;
        }
      }
      p {
        margin: 0;
        color: $background-color;
        line-height: 1.5;
      }
    }
  }
}

.home > .guide {
  padding: 3.5 * $spacing-unit 0 0;

  @include media-query($on-laptop) {
    padding: 2 * $spacing-unit $spacing-unit / 2 0;
  }
  @include media-query($on-palm) {
    padding-top: 1.5 * $spacing-unit;
  }

  .title {
    text-align: center;

    h2 {
      margin-bottom: 10px;
      line-height: 1.2;
      font-size: 56px;
      font-weight: 900;

      @include media-query($on-palm) {
        font-size: 36px;
      }
    }
    p.update {
      color: $secondary-text-color;
      .new {
        margin-right: 5px;
        flex: 0 0 auto;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $important-color;
        background-color: lighten($important-color, 30%);
        padding: 3px 5px;
        line-height: 1;
        border-radius: 3px;
        font-size: 11px;
      }
    }
    h4 {
      margin-bottom: 0;
      font-family: $base-font-family;
      font-size: 16px;
      color: $secondary-text-color;
      line-height: 1.5;
    }
  }

  .form-container {
    margin: $spacing-unit - 10px auto 0;
    padding: $spacing-unit;
    background-color: $brand-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 775px;

    @include media-query($on-palm) {
      padding: 12px $spacing-unit / 2 $spacing-unit / 2;
      display: block;
    }

    div.form-copy {
      margin-right: 10px;
      color: white;

      @include media-query($on-palm) {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
      }

      p:first-child {
        margin: 0;
        font-size: 20px;
      }
      p:last-child {
        margin: 0;
        font-size: 14px;
        opacity: 0.7;
      }
    }
  }

  .form {
    flex: 0 auto;

    p.email-octopus-error-message,
    p.email-octopus-success-message {
      margin: 0;
    }

    form {
      display: flex;
      align-items: stretch;
      justify-content: center;

      .email-octopus-form-row {
        margin: 0;
        flex: 1 1 auto;
      }

      input {
        margin: 0;
        padding: 10px;
        width: 240px;
        font-size: 20px;
        height: auto;
        @extend %newsletter-input;

        @include media-query($on-palm) {
          width: 100%;
          font-size: 15px;
        }
      }

      .email-octopus-form-row-subscribe {
        margin-top: 0;
        margin-left: 10px;
      }

      button {
        margin: 0;
        padding: 19px 20px;
        font-size: 18px;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: $base-font-family;
        display: inline-block;
        letter-spacing: 1px;
        background-color: $important-color;
        color: white;
        border-radius: 4px;
        line-height: 1;
        transition: 0.3s;
        cursor: pointer;

        @include media-query($on-palm) {
          padding: 18px 13px;
          font-size: 12px;
        }

        &:hover {
          background-color: lighten($important-color, 7%);
        }
      }
    }
  }
}

/**
 * Readers Logos
 */
.home .readers {
  .readers-desc {
    margin-top: 4px;
    text-align: center;
    color: $tertiary-text-color;

    @include media-query($on-palm) {
      margin-bottom: $spacing-unit / 2;
      padding: 0 $spacing-unit / 2;
      font-size: 16px;
    }
  }

  .readers-list {
    margin: 2 * $spacing-unit auto 0;
    position: relative;
    max-width: calc(#{$post-content-width} - (#{$spacing-unit} * 2));

    @include media-query($on-palm) {
      margin-top: $spacing-unit / 2;
    }

    .scroll-content {
      overflow: hidden;
    }
    .scroll-shadow {
      width: 200px;
      height: 100%;
      position: absolute;
      opacity: 1;
      top: 0;
      transition: opacity .15s linear;
      pointer-events: none;
    }
    .scroll-shadow.left {
      left: 0;
      background-image: linear-gradient(to left, transparentize($secondary-background-color, 1), transparentize($secondary-background-color, 0));
    }
    .scroll-shadow.right {
      right: 0;
      background-image: linear-gradient(to right, transparentize($secondary-background-color, 1), transparentize($secondary-background-color, 0));
    }
  }

  ul.logos {
    margin-left: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;

    width: $reader-logo-width * 28 * 2;
    animation: scroll 120s linear infinite;

    li {
      list-style-type: none;
      width: $reader-logo-width;
      height: 67px;
      flex-shrink: 0;
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & img {
        width: 60px;
        height: auto;
        filter: grayscale(100%);
        &:hover {
          filter: none;
        }
      }
      &.m-w img {
        width: 90px;
      }
      &.t img {
        width: auto;
        height: 30px;
      }
      &.m-t img {
        width: auto;
        height: 43px;
      }
    }
  }
}

/**
 * Updates
 */
.home .updates {
  margin: 0 auto;
  padding: 0 $spacing-unit / 2;
  display: flex;
  align-items: stretch;

  @include media-query($on-palm) {
    display: block;
  }

  .updates-desc {
    flex: 1 1 50%;
    margin: 0;
    padding: 4 * $spacing-unit + 7px $spacing-unit / 2 0.5 * $spacing-unit + 5px 0;
    border-right: 1px solid darken($background-color, 35%);
    text-align: right;
    color: $tertiary-text-color;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    box-sizing: border-box;

    @include media-query($on-palm) {
      padding: $spacing-unit / 2 0;
      border: none;
      text-align: center;
    }
  }

  .section {
    flex: 1 1 50%;
    padding: 1.5 * $spacing-unit 0 0.5 * $spacing-unit + 5px $spacing-unit;
    box-sizing: border-box;

    @include media-query($on-palm) {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0;
      font-size: 16px;
    }

    .icon {
      $size: 54px;
      margin-top: 7px;
      background-color: lighten($brand-color, 10%);
      border-radius: 50%;
      color: white;
      font-size: 28px;
      width: $size;
      height: $size;
      text-align: center;
      flex: 0 0 $size;

      i {
        line-height: $size;
      }

      @include media-query($on-palm) {
        display: none;
      }
    }

    .copy {
      margin-top: $spacing-unit / 2;

      @include media-query($on-palm) {
        margin: 0;
      }

      h6 {
        margin-bottom: 2px;
        font-family: $base-font-family;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;

        @include media-query($on-palm) {
          font-size: 20px;
        }
      }
      p {
        margin-bottom: 10px;
        color: $secondary-text-color;
      }
      & > a {
        font-size: 16px;
      }
    }
  }
}

/**
 * Table of Contents
 */
.home .table-of-contents {

  margin: 1.5 * $spacing-unit 0;

  @include media-query($on-palm) {
    margin-top: $spacing-unit / 2;
  }

  & > .wrapper {
    display: flex;

    @include media-query($on-laptop) {
      display: block;
    }

    & > .col1 {
      flex: 1 1 50%;
    }

    & > .col2 {
      margin-left: $spacing-unit;
      flex: 1 1 50%;

      @include media-query($on-laptop) {
        margin-left: 0;
      }
    }
  }

  div.part {

    .header {
      margin: 0 $spacing-unit / 2 $spacing-unit / 2;

      h3 {
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 500;
        text-align: center;

        @include media-query($on-laptop) {
          font-size: 26px;
        }
      }
      p {
        margin: 0;
        text-align: center;
        color: $secondary-text-color;
      }

      @include media-query($on-laptop) {
        &.best-practices {
          margin-top: $spacing-unit + 10px;
        }
      }
      &.extra-credit,
      &.serverless-framework {
        margin-top: $spacing-unit + 10px;
      }
    }

    div.chapters {
      $max-height: 500px;

      padding-bottom: $spacing-unit;
      border-radius: 4px;
      background-color: white;
      border: 1px solid darken($background-color, 15%);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      max-height: $max-height;
      overflow: hidden;
      position: relative;

      @include media-query($on-laptop) {
        padding-bottom: 10px;
        max-height: 1.5 * $max-height;
      }

      div.toc-section {
        padding: $spacing-unit 0 0;

        @include media-query($on-laptop) {
          padding-top: $spacing-unit / 2;
        }

        h3 {
          margin: 0;
          padding: 0 $spacing-unit;
          font-family: $base-font-family;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $tertiary-text-color;
          font-size: 18px;

          @include media-query($on-laptop) {
            padding: 0 $spacing-unit / 2;
          }
        }

        ul {
          li {
            padding: 4px 0;
            a {
              font-size: 20px;
            }
          }
        }

        & > ul {
          margin: 0;
          padding: $spacing-unit / 2 $spacing-unit 0;

          @include media-query($on-laptop) {
            padding: $spacing-unit / 2 $spacing-unit / 2 0;
          }

          & > li {
            list-style-type: none;
          }
        }
      }

      &.the-basics {
        max-height: 1830px;

        @include media-query($on-laptop) {
          max-height: 1.5 * $max-height;
        }
      }

      &.expanded {
        max-height: none;
        overflow: visible;

        .expand {
          display: none;
        }
      }

      .expand {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 80px;
        cursor: pointer;
        background: linear-gradient(
          180deg, rgba(255,251,249,0) 0%,
          rgba(255,251,249,0.7867914244186046) 25%,
          rgba(255,251,249,1) 98%
        );
        display: flex;
        justify-content: center;
        align-items: flex-end;

        span {
          margin-bottom: $spacing-unit / 2;
          background-color: white;
          border-radius: 19px;
          padding: 7px 19px;
          color: $text-color;
          text-transform: uppercase;
          font-family: $base-font-family;
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          line-height: 1;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        }

        &:hover span {
          background-color: darken(white, 2%);
        }
      }
    }
  }
}
