@media print {
  html, body {
    background-color: white;
  }
  body > header,
  body > footer,
  main .home .lander,
  main .home .extras,
  article > .extras,
  article > .lander-info,
  article > .post-links,
  article > .post-footer,
  article > .post-closing,
  article header .post-info,
  article a.button.contact,
  article header .post-context
  {
    display: none;
  }
  main div.home .toc {
    padding-top: 0;
  }
  a {
    color: $text-color !important;
  }
}
