---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:          Lato, sans-serif;
$heading-font-family:       "PT Serif", serif;
$code-font-family:          "Source Pro", monospace;
$base-font-size:            16px;
$base-font-weight:          400;
$small-font-size:           $base-font-size * 0.875;
$base-line-height:          1.6;

$spacing-unit:              30px;

$text-color:                #333;
$secondary-text-color:      #666;
$tertiary-text-color:  	    #999;
$background-color:          #f2efe8;
$code-background-color:     #f0eaf7;
$hilight-background-color:  #fff694;
$brand-color:               #9068BE;
$important-color:           #F39C12;

$grey-color:                #828282;
$grey-color-light:          lighten($grey-color, 30%);
$grey-color-dark:           darken($grey-color, 25%);

// Width of the content     area
$content-width:             800px;

$on-palm:                   600px;
$on-laptop:                 800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";
@import "print";



/**
 * Globals
 */
// Share buttons
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Change markers
img.code-marker {
  $width: 68px;
  $height: 21px;

  margin-right: 7px;
  margin-bottom: 2px;
  width: $width;
  height: $height;
  background-image: url('/assets/change-marker.png');
  background-size: $width $height;
  display: inline-block;
  vertical-align: middle; 
}

// Source Code Links
div.post-links {
  border: 2px solid darken($background-color, 5%);
  border-radius: 5px;
  padding: $spacing-unit - 5px;

  p {
    margin-bottom: 8px;
    color: $secondary-text-color;

    &.code {
      margin-top: 15px;
    }
  }

  a {
    font-family: $code-font-family;
    font-size: 18px;
  }
}

// Link Buttons
a.button {
  border-radius: 4px;
  line-height: 1.2;
  background-color: $brand-color;
  color: white;

  &:hover {
    background-color: darken($brand-color, 10%);
  }
}

a.contact,
a.support {
  margin: 2 * $spacing-unit auto $spacing-unit;
  text-align: center;
  padding: 14px 20px;
  width: 200px;
  font-size: 18px;
  display: block;

  &.home {
    margin-top: 3 * $spacing-unit;
    margin-bottom: 0;
  }
}

div.support-footer {
  text-align: center;

  p.copy {
    color: $tertiary-text-color;
    font-size: 14px;
  }

  p {
    a {
      padding-top: 5px;
      font-size: 14px;
    }
  }
}

// Newsletter Form Chrome
%newsletter-input {
  box-sizing: border-box;
  color: #555;
  font-family: $base-font-family;
  background-color: white;
  border-radius: 3px;
  border: 2px solid $grey-color-light;
  text-align: center;
  -webkit-appearance: none;

  &:focus {
    border-color: darken($grey-color-light, 10%);
    outline: none;
  }
}

%newsletter-button {
  border-radius: 4px;
  line-height: 1.2;
  color: white;
  background-color: $important-color;
  font-family: $base-font-family;
  display: inline-block;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($important-color, 5%);
  }
}


%extras-section {
  text-align: center;
  margin-top: $spacing-unit + 15px;

  div.container {
    display: block;
    padding: $spacing-unit 20px $spacing-unit + 7px;
    background-color: darken($background-color, 5%);
    background-color: $brand-color;
    color: white;
    border-radius: 5px;

    @include media-query($on-palm) {
      padding: 20px;
    }

    div.share {
      margin-top: 25px;

      p {
        font-size: 18px;
        font-weight: 300;
      }

      ul.share-buttons li {
        padding: 0 5px;

        a {
          color: white;

          &:hover {
            color: #EEE;
          }
        }
      }
    }
  }

  div.newsletter {
    $width-on-palm: 240px;
    $width: 380px;

    p.copy {
      margin-bottom: 20px;
      text-align: center;
      font-size: 22px;

      @include media-query($on-palm) {
        font-size: 20px;
      }
    }

    p.email-octopus-error-message {
      color: white;
    }

    div.email-octopus-form-row {
      margin-bottom: 0;
    }

    div.email-octopus-form-row-subscribe {
      margin-top: 0;
    }

    form input {
      padding: 10px;
      width: $width;
      font-size: 20px;
      height: auto;
      @extend %newsletter-input;

      @include media-query($on-palm) {
        width: $width-on-palm;
      }
    }

    form button {
      margin-top: 7px;
      width: $width;
      padding: 14px 22px;
      font-size: 18px;
      font-weight: bold;
      @extend %newsletter-button;

      @include media-query($on-palm) {
        width: $width-on-palm;
        font-size: 16px;
      }
    }
  }
}

div.newsletter div.divider {
  $width-on-palm: 240px;
  $width: 380px;
  $color: lighten($brand-color, 20%);

  margin: $spacing-unit / 2 auto;
  position: relative;
  width: $width;

  @include media-query($on-palm) {
    width: $width-on-palm;
  }

  div {
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 1px solid $color;
  }
  span {
    margin: 0;
    font-size: 12px;
    padding: 2px 16px;
    background-color: $brand-color;
    display: inline-block;
    position: relative;
    color: $color;
  }
}

div.newsletter div.support {
  a.button {
    $width-on-palm: 240px;
    $width: 380px;

    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.2;
    background-color: darken($brand-color, 5%);
    border: 2px solid darken($brand-color, 10%);
    color: white;
    text-align: center;
    padding: 14px 20px;
    width: $width;
    font-size: 18px;
    display: block;

    @include media-query($on-palm) {
      width: $width-on-palm;
    }

    &:hover {
      background-color: darken($brand-color, 10%);
      border-color: darken($brand-color, 15%);
    }
  }
}


/**
 * Homepage
 */
div.home .pitch {
  font-family: $base-font-family;
  padding: 0 20px;
  text-align: center;
  font-size: 26px;
  color: #555;

  @include media-query($on-palm) {
    font-size: 20px;
    padding: 0 5px 0;
  }
}

div.home .feature-divider {
  margin: $spacing-unit auto;
  width: 300px;
  height: 1px;
  background-color: darken($background-color, 15%);
}

div.home div.support-lander {
  text-align: center;

  & > a {
    display: inline-block;
  }

  p {
    color: $tertiary-text-color;
    font-size: 14px;
    &:last-child {
      padding-top: 5px;
    }
  }
}

div.home .feature-pitch {
  margin-bottom: 2px;
  padding: 0 10px;
  font-size: 20px;
  font-family: $heading-font-family;
  font-weight: 700;
  text-align: center;
}
div.home .feature-desc,
div.home .quotes-desc {
  font-size: 18px;
  text-align: center;
  color: $secondary-text-color;
}
div.home .feature-list {
  font-size: 18px;
  padding: 0 90px;
  margin-bottom: $spacing-unit + 5px;

  strong {
    background-color: $hilight-background-color;
  }

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit - 5px;
    padding: 0 10px;
  }
}
div.home ul.quotes {
  margin-left: 0;
  margin-top: $spacing-unit - 5px;
  margin-bottom: 2 * $spacing-unit - 6px;
  list-style-type: none;
  padding: 0 60px;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit - 5px;
    padding: 0 10px;
  }
}
div.home ul.quotes li {
  margin-bottom: $spacing-unit;
  &:nth-child(odd) {
    padding-left: 80px;
    background: {
      image: url('/assets/left-quote-icon.png');
      repeat: no-repeat;
      size: 68px 50px;
      position: 0px 7px;
    }
  }
  &:nth-child(even) {
    padding-right: 77px;
    background: {
      image: url('/assets/right-quote-icon.png');
      repeat: no-repeat;
      size: 68px 50px;
      position: right 7px;
    }
  }
}
div.home ul.quotes p {
  margin-bottom: 0;

  &:first-child {
    font-style: italic;
    font-size: 20px;
    margin-bottom: 7px;
  }
  &:last-child {
    font-size: 14px;
    font-weight: bold;
  }
}
div.home .toc-header {
  padding-top: 2 * $spacing-unit - 10px;
  margin-bottom: $spacing-unit;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

div.home .share-container {
  text-align: center;

  .share {
    display: inline-block;
    border-top: 1px solid darken($background-color, 10%);
    padding: 22px 40px 2 * $spacing-unit - 10px;

    @include media-query($on-palm) {
      padding: 15px 40px $spacing-unit - 10px;
    }

    ul li {
      padding: 0 5px;
    }
  }
}

div.home .extras {
  @extend %extras-section;
}

hr.tools {
  margin: $spacing-unit 0;
}

div.home .sponsors,
div.home .about-us {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1.3;
}
div.home .about-us-image-desc {
  text-align: center;
  color: $tertiary-text-color;
  font-size: 14px;
}
div.home iframe.seed-demo-video {
  width: 640px;
  height: 360px;
  @include media-query($on-palm) {
    width: 100%;
    height: auto;
  }
}



/**
 * Cost Table
 */
table.cost-table {
  td, th {
    &:first-child {
      min-width: 170px;

      @include media-query($on-palm) {
        min-width: 0;
      }
    }
    &:last-child {
      min-width: 60px;
    }
  }

  tr:nth-child(even) {
    background-color: transparent;
  }

  tr:last-child {
    background-color: lighten($grey-color-light, 10%);
  }
}
