---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:      Lato, sans-serif;
$heading-font-family:   "PT Serif", serif;
$base-font-size:        16px;
$base-font-weight:      400;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.6;

$spacing-unit:          30px;

$text-color:            #333;
$secondary-text-color:  #666;
$tertiary-text-color:  	#999;
$background-color:      #f2efe8;
$code-background-color: #f0eaf7;
$brand-color:           #9068BE;

$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 30%);
$grey-color-dark:       darken($grey-color, 25%);

// Width of the content area
$content-width:         800px;

$on-palm:               600px;
$on-laptop:             800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";

// Share buttons
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Change markers
span.code-marker {
  line-height: 1.1;
  margin-right: 5px;
  font-family: "Space Mono", monospace;
  font-size: 10px;
  font-weight: 700;
  color: white;
  background-color: #C3BDCA;
  padding: 5px 8px 5px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle; 
}

/**
 * Homepage
 */
div.home .pitch {
  font-family: $base-font-family;
  margin-bottom: 2 * $spacing-unit - 6px;
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  color: #555;

  @include media-query($on-palm) {
    font-size: 20px;
    padding: 0 5px 0;
    margin-bottom: $spacing-unit - 5px;
  }
}

div.home .share-container {
  text-align: center;

  .share {
    display: inline-block;
    border-top: 1px solid darken($background-color, 10%);
    padding: 22px 40px 2 * $spacing-unit - 10px;

    @include media-query($on-palm) {
      padding: 15px 40px $spacing-unit - 10px;
    }

    ul li {
      padding: 0 5px;
    }
  }
}

div.home .extras {
  text-align: center;
  margin-top: $spacing-unit + 10px;

  div.container {
    display: inline-block;
    padding: $spacing-unit $spacing-unit + 15px $spacing-unit + 7px;
    background-color: darken($background-color, 5%);
    border-radius: 5px;

    p {
      font-size: 18px;
      font-weight: 300;
    }

    div.newsletter {
      margin-bottom: 25px;
      a {
        padding: 14px 22px;
        font-weight: bold;
        border-radius: 4px;
        line-height: 1.2;
        display: inline-block;
        background-color: $brand-color;
        color: white;
        &:hover {
          background-color: darken($brand-color, 10%);
        }
      }
    }

    div.share {
      ul.share-buttons li {
        padding: 0 5px;
      }
    }
  }
}
