---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:          Lato, sans-serif;
$heading-font-family:       "PT Serif", serif;
$code-font-family:          "Source Pro", monospace;
$base-font-size:            16px;
$base-font-weight:          400;
$small-font-size:           $base-font-size * 0.875;
$base-line-height:          1.6;

$spacing-unit:              30px;

$text-color:                #333;
$secondary-text-color:      #666;
$tertiary-text-color:  	    #999;
$background-color:          #f2efe8;
$code-background-color:     #f0eaf7;
$hilight-background-color:  #fff694;
$brand-color:               #9068BE;

$grey-color:                #828282;
$grey-color-light:          lighten($grey-color, 30%);
$grey-color-dark:           darken($grey-color, 25%);

// Width of the content     area
$content-width:             800px;

$on-palm:                   600px;
$on-laptop:                 800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";



/**
 * Globals
 */
// Share buttons
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Change markers
img.code-marker {
  $width: 68px;
  $height: 21px;

  margin-right: 7px;
  margin-bottom: 2px;
  width: $width;
  height: $height;
  background-image: url('/assets/change-marker.png');
  background-size: $width $height;
  display: inline-block;
  vertical-align: middle; 
}

// Source Code Links
div.post-links {
  border: 2px solid darken($background-color, 5%);
  border-radius: 5px;
  padding: $spacing-unit - 5px;

  p {
    margin-bottom: 8px;
    color: $secondary-text-color;

    &.code {
      margin-top: 15px;
    }
  }

  a {
    font-family: $code-font-family;
    font-size: 18px;
  }
}

// Link Buttons
a.button {
  border-radius: 4px;
  line-height: 1.2;
  background-color: $brand-color;
  color: white;

  &:hover {
    background-color: darken($brand-color, 10%);
  }
}



/**
 * Homepage
 */
div.home .pitch {
  font-family: $base-font-family;
  padding: 0 20px;
  text-align: center;
  font-size: 26px;
  color: #555;

  @include media-query($on-palm) {
    font-size: 20px;
    padding: 0 5px 0;
  }
}

div.home .feature-divider {
  margin: $spacing-unit auto;
  width: 300px;
  height: 1px;
  background-color: darken($background-color, 15%);
}

div.home .feature-pitch {
  margin-bottom: 2px;
  padding: 0 10px;
  font-size: 20px;
  font-family: $heading-font-family;
  font-weight: 700;
  text-align: center;
}
div.home .feature-desc,
div.home .quotes-desc {
  font-size: 18px;
  text-align: center;
  color: $secondary-text-color;
}
div.home .feature-list {
  font-size: 18px;
  padding: 0 90px;
  margin-bottom: $spacing-unit + 5px;

  strong {
    background-color: $hilight-background-color;
  }

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit - 5px;
    padding: 0 10px;
  }
}
div.home ul.quotes {
  margin-left: 0;
  margin-top: $spacing-unit - 5px;
  margin-bottom: 2 * $spacing-unit - 6px;
  list-style-type: none;
  padding: 0 60px;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit - 5px;
    padding: 0 10px;
  }
}
div.home ul.quotes li {
  margin-bottom: $spacing-unit;
}
div.home ul.quotes p {
  margin-bottom: 0;

  &:first-child {
    margin-bottom: 7px;
  }
  &:last-child {
    font-size: 14px;
    font-weight: bold;
  }
}
div.home .toc {
  padding-top: 2 * $spacing-unit - 10px;
  margin-bottom: $spacing-unit;
  border-top: 4px solid darken($background-color, 10%);
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

div.home .share-container {
  text-align: center;

  .share {
    display: inline-block;
    border-top: 1px solid darken($background-color, 10%);
    padding: 22px 40px 2 * $spacing-unit - 10px;

    @include media-query($on-palm) {
      padding: 15px 40px $spacing-unit - 10px;
    }

    ul li {
      padding: 0 5px;
    }
  }
}


div.home .extras {
  text-align: center;
  margin-top: $spacing-unit + 15px;

  div.container {
    display: inline-block;
    padding: $spacing-unit $spacing-unit + 15px $spacing-unit + 7px;
    background-color: darken($background-color, 5%);
    border-radius: 5px;

    div.share {
      p {
        font-size: 18px;
        font-weight: 300;
      }

      ul.share-buttons li {
        padding: 0 5px;
      }
    }
  }
}

div.home .extras div.newsletter {
  $width: 270px;

  margin-bottom: 25px;

  p {
    display: inline-block;
    max-width: 330px;
    font-size: 20px;
  }

  div.mc-field-group input {
    padding: 10px;
    box-sizing: border-box;
    color: #555;
    width: $width;
    font-size: 20px;
    font-family: $base-font-family;
    background-color: white;
    border-radius: 3px;
    border: 2px solid $grey-color-light;
    text-align: center;

    &:focus {
      border-color: darken($grey-color-light, 10%);
      outline: none;
    }
  }
  input.button {
    margin-top: 7px;
    width: $width;
    border-radius: 4px;
    line-height: 1.2;
    background-color: $brand-color;
    color: white;
    padding: 14px 22px;
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    border: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: darken($brand-color, 10%);
    }
  }
}

hr.tools {
  margin: $spacing-unit 0;
}

div.home .about-us {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1.3;
}
div.home a.contact {
  margin: 2 * $spacing-unit auto $spacing-unit;
  text-align: center;
  padding: 14px 0;
  width: 230px;
  font-size: 20px;
  display: block;
}



/**
 * Cost Table
 */
table.cost-table {
  td, th {
    &:first-child {
      min-width: 170px;

      @include media-query($on-palm) {
        min-width: 0;
      }
    }
    &:last-child {
      min-width: 60px;
    }
  }

  tr:nth-child(even) {
    background-color: transparent;
  }

  tr:last-child {
    background-color: lighten($grey-color-light, 10%);
  }
}
