---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:      Lato, sans-serif;
$heading-font-family:   "PT Serif", serif;
$base-font-size:        16px;
$base-font-weight:      400;
$small-font-size:       $base-font-size * 0.875;
$base-line-height:      1.6;

$spacing-unit:          30px;

$text-color:            #333;
$secondary-text-color:  #666;
$tertiary-text-color:  	#999;
$background-color:      #f2efe8;
$code-background-color: #f0eaf7;
$brand-color:           #9068BE;

$grey-color:            #828282;
$grey-color-light:      lighten($grey-color, 30%);
$grey-color-dark:       darken($grey-color, 25%);

// Width of the content area
$content-width:         800px;

$on-palm:               600px;
$on-laptop:             800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";

// Share buttons
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Homepage pitch
div.home .pitch {
  padding: 0 30px 50px;
  text-align: center;
  font-size: 24px;
  color: #555;
}

// Change markers
span.code-marker {
  line-height: 1;
  margin-right: 5px;
  font-family: "Space Mono", monospace;
  font-size: 10px;
  font-weight: 700;
  color: white;
  background-color: #C3BDCA;
  padding: 6px 8px 5px;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle; 
}
