---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:            "Source Sans Pro", sans-serif;
$heading-font-family:         "Roboto Slab", serif;
$code-font-family:            "Source Code Pro", monospace;
$base-font-size:              16px;
$base-font-weight:            400;
$small-font-size:             $base-font-size * 0.875;
$base-line-height:            1.6;

$spacing-unit:                30px;

$text-color:                  #383736;
$secondary-text-color:        #706F6C;
$tertiary-text-color:  	      #9A9894;
$background-color:            #FFFBF9;
$secondary-background-color:  #F4ECE8;
$code-background-color:       #EFEEED;
$highlight-background-color:  #FFF694;
$brand-color:                 #395C6B;
$important-color:             #E27152;

$grey-color:                  #838180;
$grey-color-light:            lighten($grey-color, 30%);
$grey-color-dark:             darken($grey-color, 25%);

// Width of the content       area
$content-width:               1280px;
$post-content-width:          1280px;
// Single column pages
$page-content-width:          900px;

$on-palm:                     600px;
$on-laptop:                   800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";
@import "print";

@import "blog";
@import "about";
@import "lander";
@import "example";



/**
 * Globals
 */
// Share buttons
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Change markers
img.code-marker {
  $width: 68px;
  $height: 21px;

  margin-right: 3px;
  margin-bottom: 2px;
  width: $width;
  height: $height;
  background-image: url('/assets/change-marker.png');
  background-size: $width $height;
  display: inline-block;
  vertical-align: middle; 
}

// Link Buttons
a.button {
  border-radius: 4px;
  line-height: 1.2;
  background-color: $brand-color;
  color: white;

  &:hover {
    background-color: darken($brand-color, 10%);
  }
}

a.contact,
a.support {
  margin: 2 * $spacing-unit auto $spacing-unit;
  text-align: center;
  padding: 14px 20px;
  width: 200px;
  font-size: 18px;
  display: block;

  &.home {
    margin-top: 3 * $spacing-unit;
    margin-bottom: 0;
  }
}

div.support-footer {
  text-align: center;

  p.copy {
    color: $tertiary-text-color;
    font-size: 14px;
  }

  p {
    a {
      padding-top: 5px;
      font-size: 14px;
    }
  }
}

// Newsletter Form Chrome
%newsletter-input {
  box-sizing: border-box;
  color: #555;
  font-family: $base-font-family;
  background-color: white;
  border-radius: 3px;
  border: 2px solid $grey-color-light;
  text-align: center;
  -webkit-appearance: none;

  &:focus {
    border-color: darken($grey-color-light, 10%);
    outline: none;
  }
}

%newsletter-button {
  border-radius: 4px;
  line-height: 1.2;
  color: white;
  background-color: lighten($brand-color, 15%);
  font-family: $base-font-family;
  display: inline-block;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($brand-color, 10%);
  }
}


%extras-section {

  div.container {
    display: block;
    padding: $spacing-unit;
    background-color: $brand-color;
    color: white;
    border-radius: 5px;

    @include media-query($on-palm) {
      padding: $spacing-unit / 2;
    }

    div.share {
      margin-top: 25px;

      p {
        font-size: 18px;
        font-weight: 300;
      }

      ul.share-buttons li {
        padding: 0 5px;

        a {
          color: white;

          &:hover {
            color: #EEE;
          }
        }
      }
    }
  }

  div.newsletter {
    $width: 320px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media-query($on-palm) {
      display: block;
    }

    & > .copy {
      margin-right: $spacing-unit * 2;

      @include media-query($on-palm) {
        margin-right: 0;
        margin-bottom: $spacing-unit / 2;
        text-align: center;
      }

      p.eyebrow {
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0.7;
      }
      h6 {
        margin-bottom: 3px;
        font-size: 26px;

        @include media-query($on-palm) {
          font-size: 20px;
        }
      }
      p.body {
        margin-bottom: 2px;
        font-size: 20px;

        @include media-query($on-palm) {
          font-size: 16px;
        }
      }
      p.description {
        margin-bottom: 0;
        font-size: 15px;
        line-height: 1.5;
        opacity: 0.7;

        @include media-query($on-palm) {
          margin-bottom: 8px;
        }
      }
    }

    & > .controls {
      flex: 0 0 $width;
    }

    p.email-octopus-error-message {
      color: white;
    }

    form {
      display: flex;
      align-items: stretch;
      justify-content: center;
    }

    .email-octopus-form-row {
      margin: 0;
      flex: 1 1 auto;
    }

    input.email-octopus-email-address {
      margin: 0;
      padding: 10px;
      width: 100%;
      font-size: 16px;
      height: auto;
      @extend %newsletter-input;

      @include media-query($on-palm) {
        font-size: 15px;
      }
    }

    .email-octopus-form-row-subscribe {
      margin-top: 0;
      margin-left: 10px;
    }

    button {
      margin: 0;
      padding: 17px 15px;
      font-size: 15px;
      white-space: nowrap;
      text-transform: uppercase;
      font-family: $base-font-family;
      display: inline-block;
      background-color: $important-color;
      color: white;
      border-radius: 4px;
      line-height: 1;
      transition: 0.3s;
      letter-spacing: 1px;
      cursor: pointer;

      @include media-query($on-palm) {
        padding: 18px 12px;
        font-size: 12px;
      }

      &:hover {
        background-color: lighten($important-color, 7%);
      }
    }
  }
}

div.newsletter div.divider {
  $color: lighten($brand-color, 20%);

  margin: $spacing-unit / 2 $spacing-unit - 10px;
  text-align: center;
  position: relative;

  @include media-query($on-palm) {
    margin: 10px $spacing-unit - 10px;
  }

  div {
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 1px solid $color;
  }
  span {
    margin: 0;
    font-size: 12px;
    padding: 2px 16px;
    background-color: $brand-color;
    display: inline-block;
    position: relative;
    color: $color;
  }
}

div.newsletter div.support {
  a.button {
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.2;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    padding: 14px 20px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    display: block;

    @include media-query($on-palm) {
      font-size: 14px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.35);
    }
  }
}

hr.tools {
  margin: $spacing-unit 0;
}

iframe.seed-demo-video {
  width: 640px;
  height: 360px;
  @include media-query($on-palm) {
    width: 100%;
    height: auto;
  }
}

div.standalone-newsletter-form-container {
  margin: 60px 0 100px;

  @include media-query($on-palm) {
    margin: 0 0 $spacing-unit / 2;
  }
}

div.standalone-newsletter-form {
  margin-bottom: $spacing-unit / 2;
  background-color: $brand-color;
  border-radius: 5px;
  padding: $spacing-unit;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-query($on-palm) {
    padding: $spacing-unit / 2;
    display: block;
    text-align: center;
  }

  & > .copy {
    margin-right: $spacing-unit;

    @include media-query($on-palm) {
      margin-right: 0;
      margin-bottom: $spacing-unit / 2;
    }

    p {
      margin-bottom: 0;
      font-size: 22px;
      line-height: 1.5;

      @include media-query($on-palm) {
        font-size: 18px;
      }
    }
  }

  p.email-octopus-success-message {
    margin: 0;
  }
  p.email-octopus-error-message {
    margin: 0;
    color: white;
  }

  div.email-octopus-form-row {
    margin-bottom: 0;
  }

  form {
    width: 260px;

    @include media-query($on-palm) {
      width: 100%;
    }
  }

  input.email-octopus-email-address {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    height: auto;
    @extend %newsletter-input;
  }

  .email-octopus-form-row-subscribe {
    margin-top: 10px;
  }

  button {
    margin: 0;
    padding: 18px 16px;
    font-size: 16px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: $base-font-family;
    display: block;
    width: 100%;
    background-color: $important-color;
    color: white;
    border-radius: 4px;
    line-height: 1;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background-color: lighten($important-color, 7%);
    }
  }
}



/**
 * Cost Table
 */
table.cost-table {
  td, th {
    &:first-child {
      min-width: 170px;

      @include media-query($on-palm) {
        min-width: 0;
      }
    }
    &:last-child {
      min-width: 60px;
    }
  }

  tr:nth-child(even) {
    background-color: transparent;
  }

  tr:last-child {
    background-color: lighten($grey-color-light, 10%);
  }
}

/**
 * Carbon Ads
 */
#carbonads {
  margin-top: $spacing-unit;
  display: flex;
  max-width: 130px;
  border-radius: 4px;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads a {
  color: $text-color;
  text-decoration: none;
}

#carbonads a:hover {
  color: $text-color;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  max-width: 130px;
  line-height: 1;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
  max-width: 130px;
  width: 130px;
  height: auto;
}

.carbon-text {
  display: block;
  text-align: left;
  line-height: 1.35;
}

.carbon-poweredby {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 0;
}
