---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:            Lato, sans-serif;
$heading-font-family:         "PT Serif", serif;
$code-font-family:            "Source Pro", monospace;
$base-font-size:              16px;
$base-font-weight:            400;
$small-font-size:             $base-font-size * 0.875;
$base-line-height:            1.6;

$spacing-unit:                30px;

$text-color:                  #383736;
$secondary-text-color:        #706F6C;
$tertiary-text-color:  	      #9A9894;
$background-color:            #f2efe8;
$code-background-color:       #f0eaf7;
$highlight-background-color:  #fff694;
$brand-color:                 #9068BE;
$important-color:             #F39C12;

$grey-color:                  #828282;
$grey-color-light:            lighten($grey-color, 30%);
$grey-color-dark:             darken($grey-color, 25%);

// Width of the content       area
$content-width:               1280px;
$post-content-width:          1280px;

$on-palm:                     600px;
$on-laptop:                   800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "theme";
@import "print";
@import "lander";



/**
 * Globals
 */
// Share buttons
ul.share-buttons {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

// Change markers
img.code-marker {
  $width: 68px;
  $height: 21px;

  margin-right: 7px;
  margin-bottom: 2px;
  width: $width;
  height: $height;
  background-image: url('/assets/change-marker.png');
  background-size: $width $height;
  display: inline-block;
  vertical-align: middle; 
}

// Link Buttons
a.button {
  border-radius: 4px;
  line-height: 1.2;
  background-color: $brand-color;
  color: white;

  &:hover {
    background-color: darken($brand-color, 10%);
  }
}

a.contact,
a.support {
  margin: 2 * $spacing-unit auto $spacing-unit;
  text-align: center;
  padding: 14px 20px;
  width: 200px;
  font-size: 18px;
  display: block;

  &.home {
    margin-top: 3 * $spacing-unit;
    margin-bottom: 0;
  }
}

div.support-footer {
  text-align: center;

  p.copy {
    color: $tertiary-text-color;
    font-size: 14px;
  }

  p {
    a {
      padding-top: 5px;
      font-size: 14px;
    }
  }
}

// Newsletter Form Chrome
%newsletter-input {
  box-sizing: border-box;
  color: #555;
  font-family: $base-font-family;
  background-color: white;
  border-radius: 3px;
  border: 2px solid $grey-color-light;
  text-align: center;
  -webkit-appearance: none;

  &:focus {
    border-color: darken($grey-color-light, 10%);
    outline: none;
  }
}

%newsletter-button {
  border-radius: 4px;
  line-height: 1.2;
  color: white;
  background-color: $important-color;
  font-family: $base-font-family;
  display: inline-block;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: lighten($important-color, 5%);
  }
}


%extras-section {
  text-align: center;

  div.container {
    display: block;
    padding: $spacing-unit 20px $spacing-unit + 7px;
    background-color: darken($background-color, 5%);
    background-color: $brand-color;
    color: white;
    border-radius: 5px;

    @include media-query($on-palm) {
      padding: 20px;
    }

    div.share {
      margin-top: 25px;

      p {
        font-size: 18px;
        font-weight: 300;
      }

      ul.share-buttons li {
        padding: 0 5px;

        a {
          color: white;

          &:hover {
            color: #EEE;
          }
        }
      }
    }
  }

  div.newsletter {
    $width-on-palm: 240px;
    $width: 380px;

    p.copy {
      margin-bottom: 20px;
      text-align: center;
      font-size: 22px;

      @include media-query($on-palm) {
        font-size: 20px;
      }
    }

    p.email-octopus-error-message {
      color: white;
    }

    div.email-octopus-form-row {
      margin-bottom: 0;
    }

    div.email-octopus-form-row-subscribe {
      margin-top: 0;
    }

    form input {
      padding: 10px;
      width: $width;
      font-size: 20px;
      height: auto;
      @extend %newsletter-input;

      @include media-query($on-palm) {
        width: $width-on-palm;
      }
    }

    form button {
      margin-top: 7px;
      width: $width;
      padding: 14px 22px;
      font-size: 18px;
      font-weight: bold;
      @extend %newsletter-button;

      @include media-query($on-palm) {
        width: $width-on-palm;
        font-size: 16px;
      }
    }
  }
}

div.newsletter div.divider {
  $width-on-palm: 240px;
  $width: 380px;
  $color: lighten($brand-color, 20%);

  margin: $spacing-unit / 2 auto;
  position: relative;
  width: $width;

  @include media-query($on-palm) {
    width: $width-on-palm;
  }

  div {
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 1px solid $color;
  }
  span {
    margin: 0;
    font-size: 12px;
    padding: 2px 16px;
    background-color: $brand-color;
    display: inline-block;
    position: relative;
    color: $color;
  }
}

div.newsletter div.support {
  a.button {
    $width-on-palm: 240px;
    $width: 380px;

    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 1.2;
    background-color: darken($brand-color, 5%);
    border: 2px solid darken($brand-color, 10%);
    color: white;
    text-align: center;
    padding: 14px 20px;
    width: $width;
    font-size: 18px;
    display: block;

    @include media-query($on-palm) {
      width: $width-on-palm;
    }

    &:hover {
      background-color: darken($brand-color, 10%);
      border-color: darken($brand-color, 15%);
    }
  }
}

hr.tools {
  margin: $spacing-unit 0;
}

iframe.seed-demo-video {
  width: 640px;
  height: 360px;
  @include media-query($on-palm) {
    width: 100%;
    height: auto;
  }
}



/**
 * Cost Table
 */
table.cost-table {
  td, th {
    &:first-child {
      min-width: 170px;

      @include media-query($on-palm) {
        min-width: 0;
      }
    }
    &:last-child {
      min-width: 60px;
    }
  }

  tr:nth-child(even) {
    background-color: transparent;
  }

  tr:last-child {
    background-color: lighten($grey-color-light, 10%);
  }
}

/**
 * Carbon Ads
 */
#carbonads {
  margin-top: $spacing-unit;
  display: flex;
  max-width: 130px;
  border-radius: 4px;
  font-size: 11px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads a {
  color: $text-color;
  text-decoration: none;
}

#carbonads a:hover {
  color: $text-color;
}

.carbon-img {
  display: block;
  margin-bottom: 8px;
  max-width: 130px;
  line-height: 1;
}

.carbon-img img {
  display: block;
  margin: 0 auto;
  max-width: 130px;
  width: 130px;
  height: auto;
}

.carbon-text {
  display: block;
  text-align: left;
  line-height: 1.35;
}

.carbon-poweredby {
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 0;
}
