@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  src:url("../fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: normal;
  src:url("../fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: bold;
  src:url("../fonts/Lato-BoldItalic.ttf");
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/PTSerif-Regular.ttf");
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  src:url("../fonts/PTSerif-Bold.ttf");
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: normal;
  src:url("../fonts/PTSerif-Italic.ttf");
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: bold;
  src:url("../fonts/PTSerif-BoldItalic.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: normal;
  src:url("../fonts/SourceCodePro-Regular.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: bold;
  src:url("../fonts/SourceCodePro-Bold.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: normal;
  src:url("../fonts/SourceCodePro-Italic.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: bold;
  src:url("../fonts/SourceCodePro-BoldItalic.ttf");
}

body {
  font-family: "Lato", serif;
  margin: 5% 5% 20% 5%;
  text-align: justify;
  font-size: 0.75em;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  text-align: left;
}

h1 { text-align: left; font-size: 2em; }
h2 { text-align: left; }
h3 { text-align: left; }
h4 { text-align: left; }
h5 { text-align: left; }
h6 { text-align: left; }
h1.title { text-align: center; }
h2.author { }
h3.date { }
nav#toc ol,
nav#landmarks ol { padding: 0; margin-left: 1em; }
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0; }
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
em em, em em em em { font-style: normal; }
/* code{ white-space: pre-wrap; } */
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}

code {
  font-family: "Source Code Pro", monospace;
  background-color: #ebebeb;
  font-size: 100%;
  line-height: inherit;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

pre {
  font-family: "Source Code Pro", monospace;
  padding: 1em;
  overflow: auto;
  font-size: 100%;
  line-height: inherit;
  border-radius: 0.25em;
  background-color: #ebebeb;
  white-space: pre-wrap;
}

table {
  border-collapse: collapse;
  font-size: 100%;
}

th, td {
  padding: 0.8em;
}

table, th, td {
  border: 0.06em solid black;
}

a {
  text-decoration: none;
}

blockquote {
  border-style: solid solid solid solid;
  border-color: #a41434;
  border-width: medium;
  border-radius: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #fcecf4;
}

@media screen { /* Workaround for iBooks issue; see #6242 */
  .sourceCode {
    overflow: visible !important;
    white-space: pre-wrap !important;
  }
}

/* Title page */
section.titlepage {
  margin-top: 30%;
}
section.titlepage h1.main {
  font-family: "Lato", serif;
  font-size: 1.5em;
}
section.titlepage p.author {
  text-align: left;
}

/* Section title */
section.level1 h1 {
  text-align: center;
  margin-top: 40%;
  font-size: 2em;
  text-decoration: underline;
}

/* Image marker */
img.code-marker {
  margin-right: 3px;
  margin-bottom: 2px;
  width: 68px;
  height: 21px;
  vertical-align: middle;
  display: inline-block;
}

/* GitHub link */
div.post-checkpoint {
  display: block;
  background-color: #e9e4d8;
  border-radius: 5px;
  padding: 1px 25px 12px;
  margin-bottom: 20px;
  text-align: left;
}

div.post-checkpoint p {
  margin-bottom: 5px;
  color: #706f6c;
}

div.post-checkpoint a {
  font-family: "Source Pro",monospace;
}

/* Discourse link */
div.post-links {
  display: block;
  background-color: #e9e4d8;
  border-radius: 5px;
  padding: 1px 25px 12px;
  text-align: left;
}

div.post-links p {
  margin-bottom: 5px;
  color: #706f6c;
}

div.post-links a {
  font-family: "Source Pro",monospace;
}
