---
layout: default
---
<div class="wrapper wrapper-post">
  <div class="post-container">

    <article class="post example">

      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post-info">

          <a target="_blank" href="{{ site.github_repo }}{{ site.github_edit_prefix }}{{ page.path }}">Edit this page</a>
          <span class="separator">&nbsp;&bull;&nbsp;</span>
          <a target="_blank" href="{{ site.github_repo }}{{ site.github_history_prefix }}{{ page.path }}">View history</a>

          {% if page.ref %}
            {% assign pages = site.examples | where:"ref", page.ref | sort: 'lang' %}
            {% if pages[1] %}
              <span class="separator">&nbsp;&bull;&nbsp;</span>
              <span class="copy">View this page in: </span>
              {% for other in pages %}
                {% if other.lang == "en" %}
                  {% assign page_en_url = other.url %}
                {% endif %}
                {% if other.lang != page.lang %}
                  <a class="lang {{ other.lang }}" href="{{ other.url }}" class="{{ other.lang }}">
                    {{ site.data.languages[other.lang] }}
                  </a>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}

        </div>

        {% if page.repo != true %}
        {% capture repo %}{{ site.sst_github_repo }}{{ site.sst_github_examples_prefix }}{{ page.repo }}{% endcapture %}
        <div class="post-repo">
          <i class="fa fa-github" aria-hidden="true"></i>
          <span>Example code</span>
          <a target="_blank" href="{{ repo }}">
            {{ repo | replace: "https://", "" }}
          </a>
        </div>
        {% endif %}

        {% if page.bio %}
        <div class="post-author">
          This chapter is contributed by: {{ page.bio }}
        </div>
        {% endif %}

      </header>

      <div class="post-content">
        {{ content }}
      </div>

      <div class="post-links">

        {% if page.repo == true %}
        {% capture repo %}{{ site.sst_github_repo }}{{ site.sst_github_examples_prefix }}{% endcapture %}
        {% elsif page.repo != true %}
        {% capture repo %}{{ site.sst_github_repo }}{{ site.sst_github_examples_prefix }}{{ page.repo }}{% endcapture %}
        {% endif %}

        {% if page.repo %}
        <p>Example repo for reference</p>
        <a target="_blank" href="{{ repo }}">
          <i class="fa fa-github" aria-hidden="true"></i>
          {{ repo | replace: "https://", "" }}
        </a>
        {% endif %}

        <p class="comments">For help and discussion</p>
        <a target="_blank" href="{{ site.forum_url }}{{ site.forum_thread_prefix }}{{ page.comments_id }}">
          <i class="fa fa-comments" aria-hidden="true"></i>
          Comments on this example
        </a>

      </div>

      <div class="extras">
        <div class="container">
          <div class="newsletter">
            {% include newsletter-form.html type="examples" %}
          </div>
        </div>
      </div>

      {% if page.ref != "examples-index" %}
      <div class="other-examples">
        <h2>More Examples</h2>
        {% include examples-list.html %}
      </div>
      {% endif %}

      <!--
      {% include post-sponsor.html %}
      -->

    </article>

    <aside id="toc-sidebar" class="sidebar example">

      <div class="about">
        <p class="eyebrow">About</p>
        <h6>SST is an open source framework for serverless.</h6>
        <p class="description">
          Make changes and test your Lambda functions live, without having to redeploy.
        </p>
        <a class="github" href="{{ site.sst_github_repo }}">
          View on GitHub
        </a>
      </div>

      {% include newsletter-form-sidebar.html %}

    </aside>

  </div>
</div>
