---
layout: default
---
<div class="wrapper wrapper-post">
  <div class="post-container">

    <article class="post">

      <header class="post-header">
        <h1 class="post-title">{{ page.title | escape }}</h1>

        <div class="post-info">

          {% if page.ref %}
            {% assign pages = site.chapters | where:"ref", page.ref | sort: 'lang' %}
            {% if pages[1] %}
              <span class="copy">View this page in: </span>
              {% for page in pages %}
                {% if page.lang == "en" %}
                  {% assign page_en_url = page.url %}
                {% endif %}
                <a class="lang {{ page.lang }}" href="{{ page.url }}" class="{{ page.lang }}">
                  {{ page.lang }}
                </a>
              {% endfor %}
              <span class="separator">&nbsp;&bull;&nbsp;</span>
            {% endif %}
          {% endif %}

          <a target="_blank" href="{{ site.github_repo }}{{ site.github_edit_prefix }}{{ page.path }}">Edit this page</a>
          <span class="separator">&nbsp;&bull;&nbsp;</span>
          <a target="_blank" href="{{ site.github_repo }}{{ site.github_history_prefix }}{{ page.path }}">View history</a>
        </div>

        {% if page.context == true %}
        <div class="post-context">
          This article is a part of a <a href="/">guide to building full-stack apps</a> with Serverless and React.
        </div>
        {% endif %}

        {% if page.bio %}
        <div class="post-author">
          This chapter is contributed by: {{ page.bio }}
        </div>
        {% endif %}

      </header>

      <div class="post-content">
        {{ content }}
      </div>

      {% include post-footer.html page_en_url=page_en_url %}

      {% include post-links.html %}

      <div class="post-closing">
        <p>If you liked this post, please <a target="_blank" href="{{ site.newsletter_signup_form }}">subscribe to our newsletter</a>, <a target="_blank" href="{{ site.github_repo }}">give us a star on GitHub</a>, and <a target="_blank" href="{{ site.twitter_url }}">follow us on Twitter</a>.</p>
      </div>

      <div class="post-sponsor">
        <p>Brought to you by</p>
        <a target="_blank" href="https://seed.run"><img width="435" alt="A fully-managed CI/CD pipeline for Serverless" src="/assets/seed-serverless-ci-cd.png" /></a>
      </div>

      <div class="extras">
        <div class="container">
          <div class="newsletter">
            {% include newsletter-form.html %}
          </div>
        </div>
      </div>

    </article>

    {% include post-sidebar.html page_en_url=page_en_url %}

  </div>
</div>
