---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    <a class="post-info" target="_blank" href="{{ site.github_repo }}{{ site.github_edit_prefix }}{{ page.path }}">Improve this page</a>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="post-footer">
    {% if page.previous.url %}
    <a class="previous" href="{{ page.previous.url }} ">&larr; Previous</a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{ page.next.url }} ">Next &rarr;</a>
    {% endif %}
    <div class="clear"></div>
    <div class="share-container">
      <div class="share">
        <p>Share this chapter</p>
        <ul class="share-buttons">
          <!-- Facebook -->
          <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&p[title]={{ page.title }}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on Facebook</span></a></li>
          <!-- Twitter -->
          <li><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i><span class="sr-only">Tweet</span></a></li>
          <!-- Reddit -->
          <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x" aria-hidden="true"></i><span class="sr-only">Submit to Reddit</span></a></li>
          <!-- LinkedIn -->
          <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><span class="sr-only">Share on LinkedIn</span></a></li>
          <!-- Email -->
          <li><a href="mailto:?subject={{ page.title }}&body={{ page.title }}%0A%0A{{ site.url }}{{ page.url }}" target="_blank" title="Send email"><i class="fa fa-envelope-square fa-2x" aria-hidden="true"></i><span class="sr-only">Send email</span></a></li>

        </ul>
      </div>
    </div>
  </div>

</article>
