<div class="controls">
  <div class="logos">
    <div class="highlight"></div>
    <img data-name="nextjs" class="active" width="80" height="80" alt="Next.js logo" src="/assets/lander/frontends/nextjs.svg" />
    <img data-name="astro" width="80" height="80" alt="Astro logo" src="/assets/lander/frontends/astro.svg" />
    <img data-name="solid" width="80" height="80" alt="Solid logo" src="/assets/lander/frontends/solid.svg" />
    <img data-name="remix" width="80" height="80" alt="Remix logo" src="/assets/lander/frontends/remix.svg" />
  </div>
</div>

<div class="example">
  <div class="code-editor">
    <div class="navbar">
      <div class="controls">
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
      </div>
      <div class="title">stacks/web.js</div>
    </div>
    <!-- Code Blocks -->
    <div class="code-block nextjs active">
      <div class="token-line">
        <span class="token lead">1</span><span class="token italics">new</span> <span class="token keyword">NextjsSite</span>(<span class="token italics">this</span>, <span class="token string">"site"</span>, {
      </div>
      <div class="token-line">
        <span class="token lead">2</span>&nbsp;&nbsp;path: <span class="token string">"src/next-app"</span>,
      </div>
      <div class="token-line">
        <span class="token lead">3</span>&nbsp;&nbsp;customDomain: <span class="token string">"www.my-next-app.com"</span>
      </div>
      <div class="token-line">
        <span class="token lead">4</span>})
      </div>
    </div>

    <div class="code-block astro" style="display: none">
      <div class="token-line">
        <span class="token lead">1</span><span class="token italics">new</span> <span class="token keyword">AstroSite</span>(<span class="token italics">this</span>, <span class="token string">"site"</span>, {
      </div>
      <div class="token-line">
        <span class="token lead">2</span>&nbsp;&nbsp;path: <span class="token string">"src/astro-app"</span>,
      </div>
      <div class="token-line">
        <span class="token lead">3</span>&nbsp;&nbsp;customDomain: <span class="token string">"www.my-astro-app.com"</span>
      </div>
      <div class="token-line">
        <span class="token lead">4</span>})
      </div>
    </div>

    <div class="code-block solid" style="display: none">
      <div class="token-line">
        <span class="token lead">1</span><span class="token italics">new</span> <span class="token keyword">SolidSite</span>(<span class="token italics">this</span>, <span class="token string">"site"</span>, {
      </div>
      <div class="token-line">
        <span class="token lead">2</span>&nbsp;&nbsp;path: <span class="token string">"src/solid-app"</span>,
      </div>
      <div class="token-line">
        <span class="token lead">3</span>&nbsp;&nbsp;customDomain: <span class="token string">"www.my-solid-app.com"</span>
      </div>
      <div class="token-line">
        <span class="token lead">4</span>})
      </div>
    </div>

    <div class="code-block remix" style="display: none">
      <div class="token-line">
        <span class="token lead">1</span><span class="token italics">new</span> <span class="token keyword">RemixSite</span>(<span class="token italics">this</span>, <span class="token string">"site"</span>, {
      </div>
      <div class="token-line">
        <span class="token lead">2</span>&nbsp;&nbsp;path: <span class="token string">"src/remix-app"</span>,
      </div>
      <div class="token-line">
        <span class="token lead">3</span>&nbsp;&nbsp;customDomain: <span class="token string">"www.my-remix-app.com"</span>
      </div>
      <div class="token-line">
        <span class="token lead">4</span>})
      </div>
    </div>
    <!-- End Code Blocks -->
  </div>
</div>
