<div class="code-editor small">
  <div class="navbar">
    <div class="controls">
      <div class="button"></div>
      <div class="button"></div>
      <div class="button"></div>
    </div>
    <div class="title">stacks/web.js</div>
  </div>
  <div class="code-block">
    <div class="token-line">
      <span class="token lead">1</span> <span class="token italics">const</span> site <span class="token operator">=</span> <span class="token italics">new</span> <span class="token keyword">NextjsSite</span>(<span class="token italics">this</span>, <span class="token string">"site"</span>, {
    </div>
    <div class="token-line">
      <span class="token lead">2</span>&nbsp;&nbsp;path: <span class="token string">"src/frontend"</span>,
    </div>
    <div class="token-line">
      <span class="token lead">3</span>&nbsp;&nbsp;customDomain: <span class="token string">"www.my-nextjs-app.com"</span>
    </div>
    <div class="token-line">
      <span class="token lead">4</span>})
    </div>
  </div>
</div>
