<ul class="preview-deploys">
  <li>
    <h6>Deployed to <b>pr#14</b></h6>
    <section>
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <div class="content">
        <p>Updating products page</p>
        <div class="details">
          <span class="branch">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
            <span>products-page</span>
          </span>
          <span class="separator">&#9679;</span>
          <span class="commit">db65c0a</span>
        </div>
      </div>
      <div class="status">Deployed</div>
    </section>
  </li>
  <li>
    <h6>Deployed to <b>branch-profiles</b></h6>
    <section>
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <div class="content">
        <p>Adding new user profiles page</p>
        <div class="details">
          <span class="branch">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
            <span>branch-profiles</span>
          </span>
          <span class="separator">&#9679;</span>
          <span class="commit">f0bd4af</span>
        </div>
      </div>
      <div class="status">Deployed</div>
    </section>
  </li>
  <li>
    <h6>Deployed to <b>pr#13</b></h6>
    <section>
      <i class="fa fa-check-circle" aria-hidden="true"></i>
      <div class="content">
        <p>Fixing bug in settings page</p>
        <div class="details">
          <span class="branch">
            <i class="fa fa-code-fork" aria-hidden="true"></i>
            <span>settings-page</span>
          </span>
          <span class="separator">&#9679;</span>
          <span class="commit">bc32207</span>
        </div>
      </div>
      <div class="status">Deployed</div>
    </section>
  </li>
</ul>